<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <header th:replace="layout/layout :: header"></header>

    <aside th:replace="layout/layout :: lateral"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 th:text="${titulo}"></h1>
                    </div>
                    <div  th:replace="layout/layout :: 'breadcrumbApp'"></div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div id="main-card" class="card" th:classappend="${(parSourceCodeDto.id != null or (status != null and status.codigo !=0) ) ? '' : ' collapsed-card'}">
                <div class="card-header" onclick="$(this).parent().CardWidget('toggle')">
                    <h3 class="card-title" th:text="${(parSourceCodeDto.id != null or (status != null and status.codigo !=0) ) ? 'Modificar registro' : 'Nuevo registro'}"></h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas" th:classappend="${(parSourceCodeDto.id != null or (status != null and status.codigo !=0) ) ? ' fa-minus' : ' fa-plus'}"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body login-card-body">
                    <form id="form_guardar_registro" th:action="@{/mantenedores/parametros_instrumentos/source_code_pershing/guardar}" method="post" th:object="${parSourceCodeDto}">
                        <div class="form-group row">
                            <label for="id" class="col-md-2 col-form-label">ID</label>
                            <div class="col-md-3">
                                <input class="form-control" type="text" id="id" name="id" th:value="${parSourceCodeDto.id != null ? parSourceCodeDto.id: ''}" disabled>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="sourceCodePershing" class="col-md-2 col-form-label">Cód Pershing</label>
                            <div class="col-md-3">
                                <input class="form-control" type="text" th:field="*{sourceCodePershing}" id="sourceCodePershing" name="sourceCodePershing" th:value="${parSourceCodeDto.id != null ? parSourceCodeDto.sourceCodePershing: ''}">
                            </div>
                            <span th:if="${#fields.hasErrors('sourceCodePershing') and (parSourceCodeDto.id != null or (status != null and status.codigo !=0) )}" th:errors="*{sourceCodePershing}"></span>
                        </div>
                        <div class="form-group row">
                            <label for="signoMovimiento" class="col-md-2 col-form-label">Signo Movto.</label>
                            <div class="col-md-3">
                                <select class="form-control" th:field="*{signoMovimiento}" id="signoMovimiento" name="signoMovimiento">
                                    <option th:value="${null}" th:text="${'Todos los montos'}" th:selected="${parSourceCodeDto.id==null or parSourceCodeDto.signoMovimiento==null}"></option>
                                    <option th:value="${'1'}" th:text="${'Montos mayores o iguales a 0 (Postivos)'}" th:selected="${parSourceCodeDto.id != null and parSourceCodeDto.signoMovimiento==1}"></option>
                                    <option th:value="${'-1'}" th:text="${'Montos menores a 0 (Negativos)'}" th:selected="${parSourceCodeDto.id != null and parSourceCodeDto.signoMovimiento==-1}"></option>
                                </select>
                            </div>
                            <span th:if="${#fields.hasErrors('signoMovimiento') and (parSourceCodeDto.id != null or (status != null and status.codigo !=0) )}" th:errors="*{signoMovimiento}"></span>
                        </div>
                        <div class="form-group row">
                            <label for="descripcionMovimiento" class="col-md-2 col-form-label">Descr. Movimiento</label>
                            <div class="col-md-3">
                                <input class="form-control" type="text" th:field="*{descripcionMovimiento}" id="descripcionMovimiento" name="descripcionMovimiento" th:value="${parSourceCodeDto.id != null ? parSourceCodeDto.descripcionMovimiento: ''}">
                            </div>
                            <span th:if="${#fields.hasErrors('descripcionMovimiento') and (parSourceCodeDto.id != null or (status != null and status.codigo !=0) )}" th:errors="*{descripcionMovimiento}"></span>
                        </div>
                        <div class="form-group row">
                            <label for="aplicaFlujoNeto" class="col-md-2 col-form-label">Aplica Flujo Neto</label>
                            <div class="col-md-3">
                                <select class="form-control" th:field="*{aplicaFlujoNeto}" id="aplicaFlujoNeto" name="aplicaFlujoNeto">
                                    <option th:value="${null}" th:text="${'Seleccione una opción'}" th:selected="${parSourceCodeDto.id==null}"></option>
                                    <option th:value="${'0'}" th:text="${'No aplica (0)'}" th:selected="${parSourceCodeDto.id != null and parSourceCodeDto.aplicaFlujoNeto==0}"></option>
                                    <option th:value="${'1'}" th:text="${'Si aplica (1)'}" th:selected="${parSourceCodeDto.id != null and parSourceCodeDto.aplicaFlujoNeto==1}"></option>
                                </select>
                            </div>
                            <span th:if="${#fields.hasErrors('aplicaFlujoNeto') and (parSourceCodeDto.id != null or (status != null and status.codigo !=0) )}" th:errors="*{aplicaFlujoNeto}"></span>
                        </div>
                        <div class="form-group row">
                            <label for="observacionesInternas" class="col-md-2 col-form-label">Obs. Internas</label>
                            <div class="col-md-3">
                                <input class="form-control" type="text" th:field="*{observacionesInternas}" id="observacionesInternas" name="observacionesInternas" th:value="${parSourceCodeDto.id != null ? parSourceCodeDto.observacionesInternas: ''}">
                            </div>
                            <span th:if="${#fields.hasErrors('observacionesInternas') and (parSourceCodeDto.id != null or (status != null and status.codigo !=0) )}" th:errors="*{observacionesInternas}"></span>
                        </div>
                    </form>

                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <a class="btn btn-app" th:onclick="guardar()"><i class="fas fa-save"></i>Guardar</a>
                </div>
                <!-- /.card-footer-->
            </div>
            <!-- /.card -->
            <div id="detail-card" class="card">
                <div class="card-header" onclick="$(this).parent().CardWidget('toggle')">
                    <h3 class="card-title">Listado registros existentes</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body login-card-body">
                    <table id="tabla_valores" class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Cód. Pershing</th>
                            <th>Signo Movimiento</th>
                            <th>Descripción Movimiento</th>
                            <th>Aplica Flujo Neto</th>
                            <th>Observaciones Internas</th>
                            <th>Modificar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="registro_actual: ${lista_registros}">
                            <td th:text="${registro_actual.id}"></td>
                            <td th:text="${registro_actual.sourceCodePershing}"></td>
                            <td th:text="${registro_actual.signoMovimiento}"></td>
                            <td th:text="${registro_actual.descripcionMovimiento}"></td>
                            <td th:text="${registro_actual.aplicaFlujoNeto}"></td>
                            <td th:text="${registro_actual.observacionesInternas}"></td>
                            <td>
                                <a class="btn bg-info" th:href="@{/mantenedores/parametros_instrumentos/source_code_pershing/editar/{id}(id=${registro_actual.id})}">Editar</a>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Cód. Pershing</th>
                            <th>Signo Movimiento</th>
                            <th>Descripción Movimiento</th>
                            <th>Aplica Flujo Neto</th>
                            <th>Observaciones Internas</th>
                            <th>Modificar</th>
                        </tr>
                        </tfoot>
                    </table>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer th:replace="layout/layout :: 'footerCustom'"></footer>

    <aside th:replace="layout/layout :: lateral_control"></aside>
</div>
<!-- ./wrapper -->


<!-- DataTables  & Plugins -->
<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/dataTables.buttons.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/jszip/jszip.min.js}"></script>
<script th:src="@{/plugins/pdfmake/pdfmake.js}"></script>
<script th:src="@{/plugins/pdfmake/vfs_fonts.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.html5.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.print.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.colVis.min.js}"></script>

<!-- InputMask -->
<script th:src="@{/plugins/moment/moment.min.js}"></script>
<!-- date-range-picker -->
<script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script th:src="@{/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js}"></script>


<script>

    $(function () {
        $("#tabla_valores").DataTable({
            dom: 'Bfrtip',"responsive": true, "lengthChange": true, "autoWidth": false, "pageLength": 50,
            "buttons": ["copy", "csv", "excel", "print", "colvis"]
        }).buttons().container().appendTo('#tabla_valores_wrapper .col-md-6:eq(0)');
    });

    function guardar() {
        var id = $('#id').val();
        var myForm  = document.getElementById('form_guardar_registro');
        if (id!="") {
            var oldAction   = myForm.action;
            console.log(oldAction);
            myForm.action = oldAction + '/'+id;
        }
        console.log(myForm.action);
        myForm.submit();
    }
</script>

<div th:replace="layout/layout :: scripting_cierre"></div>
</body>
</html>
