<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <header th:replace="layout/layout :: header"></header>

    <aside th:replace="layout/layout :: lateral"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Base de Cálculo Rentabilidad</h1>
                    </div>
                    <div  th:replace="layout/layout :: 'breadcrumbApp'"></div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!--/*@thymesVar id="lista_clientes" type="java.util.List<java.lang.String>"*/-->
        <!--/*@thymesVar id="lista_registros" type="java.util.List<cl.qande.mmii.app.models.db.core.entity.VwBaseConsolidado>"*/-->
        <!--/*@thymesVar id="lista_clientes" type="java.util.List<cl.qande.mmii.app.models.db.core.entity.UniversoClienteProjection>"*/-->
        <!--/*@thymesVar id="lista_cuentas" type="java.util.List<cl.qande.mmii.app.models.db.core.entity.UniversoCuentaProjection>"*/-->

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header" onclick="$(this).parent().CardWidget('toggle')">
                    <h3 class="card-title" th:text="${titulo}"></h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body login-card-body">
                    <form id="form_consultar_registro" th:action="@{/reporte-inversiones/base-consolidada}" method="post">
                        <div class="form-group row">
                            <label for="rango_fechas" class="col-md-1 col-form-label">Process Dates</label>
                            <div class="col-md-3">
                                <input class="form-control" type="text" placeholder="yyyy-MM-dd -> yyyy-MM-dd" id="rango_fechas" name="rango_fechas" th:value="${startProcessDate+ ' -> '+endProcessDate}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="cliente" class="col-md-1 col-form-label">Lista Cliente</label>
                            <div class="col-md-3">
                                <input id="cliente" name="cliente" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="cuenta" class="col-md-1 col-form-label">Lista Cuenta</label>
                            <div class="col-md-3">
                                <input id="cuenta" name="cuenta" disabled="disabled" />
                            </div>
                        </div>
                        <input type="hidden" id="fecha_desde" name="fecha_desde">
                        <input type="hidden" id="fecha_hasta" name="fecha_hasta">
                    </form>

                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <a class="btn btn-app" th:onclick="buscar()"><i class="fas fa-search"></i>Buscar</a>
                </div>
                <!-- /.card-footer-->
            </div>
            <!-- /.card -->

            <div class="card">
                <div class="card-header" onclick="$(this).parent().CardWidget('toggle')">
                    <h3 class="card-title">Base Cálculos Cliente/Cuenta</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body login-card-body">
                    <table id="tabla_valores" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Fecha Proceso</th>
                            <th>ID Cliente</th>
                            <th>Custodio</th>
                            <th>Cuenta Custodio</th>
                            <th>CUSIP</th>
                            <th>ISIN</th>
                            <th>Symbol</th>
                            <th>Sec. Descr.</th>
                            <th>ID Tipo Activo</th>
                            <th>ID Sub Tipo Activo</th>
                            <th>ID Sub Sub Tipo Activo</th>
                            <th>Moneda</th>
                            <th>Saldo Día</th>
                            <th>Dividendos Día</th>
                            <th>Abonos Día</th>
                            <th>Retiros Día</th>
                            <th>Comisión Devengada</th>
                            <th>Act. Descr.</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="registro : ${lista_registros}" >
                            <td th:text="${registro.id.processDate}">Fecha Proceso</td>
                            <td th:text="${registro.id.clientId}"></td>
                            <td th:text="${registro.id.custodian}"></td>
                            <td th:text="${registro.id.accountNo}"></td>
                            <td th:text="${registro.id.cusip}"></td>
                            <td th:text="${registro.id.isin}"></td>
                            <td th:text="${registro.id.symbol}"></td>
                            <td th:text="${registro.securityDescription}"></td>
                            <td th:text="${registro.id.idTipoActivo}"></td>
                            <td th:text="${registro.id.idSubTipoActivo}"></td>
                            <td th:text="${registro.id.idSubSubTipoActivo}"></td>
                            <td th:text="${registro.id.currency}"></td>
                            <td th:text="${T(cl.qande.mmii.app.util.helper.CustomThymeleafHelper).formatMontoRepInvWeb(registro.saldoDia)}"></td>
                            <td th:text="${T(cl.qande.mmii.app.util.helper.CustomThymeleafHelper).formatMontoRepInvWeb(registro.dividendosDia)}"></td>
                            <td th:text="${T(cl.qande.mmii.app.util.helper.CustomThymeleafHelper).formatMontoRepInvWeb(registro.abonosDia)}"></td>
                            <td th:text="${T(cl.qande.mmii.app.util.helper.CustomThymeleafHelper).formatMontoRepInvWeb(registro.retirosDia)}"></td>
                            <td th:text="${T(cl.qande.mmii.app.util.helper.CustomThymeleafHelper).formatMontoRepInvWeb(registro.comisionDevengada)}"></td>
                            <td th:text="${registro.activityDescription}"></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Fecha Proceso</th>
                            <th>ID Cliente</th>
                            <th>Custodio</th>
                            <th>Cuenta Custodio</th>
                            <th>CUSIP</th>
                            <th>ISIN</th>
                            <th>Symbol</th>
                            <th>Sec. Descr.</th>
                            <th>ID Tipo Activo</th>
                            <th>ID Sub Tipo Activo</th>
                            <th>ID Sub Sub Tipo Activo</th>
                            <th>Moneda</th>
                            <th>Saldo Día</th>
                            <th>Dividendos Día</th>
                            <th>Abonos Día</th>
                            <th>Retiros Día</th>
                            <th>Comisión Devengada</th>
                            <th>Act. Descr.</th>
                        </tr>
                        </tfoot>
                    </table>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->


        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer th:replace="layout/layout :: 'footerCustom'"></footer>

    <aside th:replace="layout/layout :: lateral_control"></aside>
</div>
<!-- ./wrapper -->


<!-- DataTables  & Plugins -->
<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/dataTables.buttons.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/jszip/jszip.min.js}"></script>
<script th:src="@{/plugins/pdfmake/pdfmake.js}"></script>
<script th:src="@{/plugins/pdfmake/vfs_fonts.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.html5.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.print.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.colVis.min.js}"></script>

<!-- InputMask -->
<script th:src="@{/plugins/moment/moment.min.js}"></script>
<!-- date-range-picker -->
<script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script th:src="@{/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js}"></script>

<script th:inline="javascript">
    /*<![CDATA[*/

    $(document).ready(function() {
        var clienteDefault = [[${clienteDefault}]];
        var cuentaDefault = [[${cuentaDefault}]];

        var clientDataSource = new kendo.data.DataSource({
            data: [
                /*[# th:each="objeto : ${lista_clientes}"]*/
                {
                    ClientId: [[${objeto.getId}]],
                    ClientValue: [[${objeto.getValue}]],
                    ClientGouperId: [[${objeto.getGrouper}]]
                },
                /*[/]*/
            ],
            group: { field: "ClientGouperId" }
        });

        var accountDataSource = new kendo.data.DataSource({
            data: [
                /*[# th:each="objeto : ${lista_clientes}"]*/
                {
                    AccountId: "",
                    AccountValue: "Todas",
                    AccountGouperId: "",
                    ClientId: [[${objeto.getId}]],
                },
                /*[/]*/

                /*[# th:each="objeto : ${lista_cuentas}"]*/
                {
                    AccountId: [[${objeto.getValue}]],
                    AccountValue: [[${objeto.getValue}]],
                    AccountGouperId: [[${objeto.getGrouper}]],
                    ClientId: [[${objeto.getParent}]]
                },
                /*[/]*/
            ],
            group: { field: "AccountGouperId" }
        });
        /*]]>*/

        var cliente = $("#cliente").kendoDropDownList({
            dataTextField: "ClientValue",
            dataValueField: "ClientId",
            height: 300,
            filter: "contains",
            dataSource: clientDataSource
        }).data("kendoDropDownList");

        var cuenta = $("#cuenta").kendoDropDownList({
            cascadeFrom: "cliente",
            autoBind: false,
            dataTextField: "AccountValue",
            dataValueField: "AccountId",
            height: 300,
            dataSource: accountDataSource
        }).data("kendoDropDownList");

        if (clienteDefault!=null) {
            cliente.value(clienteDefault);
            cliente.trigger("change");
            if (cuentaDefault!=null) {
                cuenta.value(cuentaDefault);
                cuenta.trigger("change");
                cliente.setOptions({ autoBind: true });
            }
        }


    });
</script>

<script>

    function createRangeCalendar(calendarName) {
        var idCalendar         = '#'+calendarName;
        return $(idCalendar).daterangepicker(
            {
                "alwaysShowCalendars" : true,
                "showCustomRangeLabel" : false,
                ranges: {
                    'Inicio Operaciones': [moment('2022-06-01'), moment().subtract(1, 'days')],
                    '1 mes': [moment().subtract(1, 'days').subtract(1, 'month'), moment().subtract(1, 'days')],
                    '3 meses': [moment().subtract(1, 'days').subtract(3, 'months'), moment().subtract(1, 'days')],
                    '12 meses': [moment().subtract(1, 'days').subtract(12, 'months'), moment().subtract(1, 'days')],
                    'YTD': [moment().subtract(1, 'days').startOf('year'), moment().subtract(1, 'days')]
                },
                "locale": {
                    "format": "YYYY-MM-DD",
                    "separator": " -> ",
                    "applyLabel": "Aceptar",
                    "cancelLabel": "Cancelar",
                    "fromLabel": "From",
                    "toLabel": "To",
                    "customRangeLabel": "Custom",
                    "weekLabel": "W",
                    "daysOfWeek": [
                        "Do",
                        "Lu",
                        "Ma",
                        "Mi",
                        "Ju",
                        "Vi",
                        "Sa"
                    ],
                    "monthNames": [
                        "Enero",
                        "Febrero",
                        "Marzo",
                        "Abril",
                        "Mayo",
                        "Junio",
                        "Julio",
                        "Agosto",
                        "Septiembre",
                        "Octubre",
                        "Noviembre",
                        "Diciembre"
                    ],
                    "firstDay": 1
                }
            }
        );
    }

    function creaDataTable(nombreTabla) {
        var idTabla         = '#'+nombreTabla;
        var idWrapperTabla  = '#'+nombreTabla+'_wrapper';
        return $(idTabla).DataTable({
            dom: 'Bfrtip',"responsive": true, "lengthChange": false, "autoWidth": false, "pageLength": 100,
            "buttons": ["copy", "csv", "excel", "print", "colvis"],
            "columns": creaColumnasDataTable()
        }).buttons().container().appendTo(idWrapperTabla+' .col-md-6:eq(0)');
    }

    function creaColumnasDataTable() {
        var totalColumns = 18;
        var basedOneIndexesOfColumnsHidden = [2];
        var columnsVisibility = [];
        for (var i = 0; i < totalColumns; i++) {
            if (basedOneIndexesOfColumnsHidden.includes(i+1)) {
                columnsVisibility.push({"visible": false});
            } else {
                columnsVisibility.push(null);
            }
        }
        return columnsVisibility;
    }

</script>

<script>

    $(function () {
        creaDataTable("tabla_valores");
    });

    $(function () {
        createRangeCalendar("rango_fechas");
    });

    function buscar() {
        var formatoHtml = 'YYYYMMDD';
        var dataCal     = $('#rango_fechas').data('daterangepicker');

        var startProcessDate    = dataCal.startDate.format(formatoHtml);
        var endProcessDate    = dataCal.endDate.format(formatoHtml);

        $("#fecha_desde").val( startProcessDate );
        $("#fecha_hasta").val( endProcessDate );
        var myForm  = document.getElementById('form_consultar_registro');
        myForm.submit();

    }
</script>

<div th:replace="layout/layout :: customCalendarHtml"></div>

<div th:replace="layout/layout :: scripting_cierre"></div>
</body>
</html>
