<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
  <header th:replace="layout/layout :: header"></header>

  <aside th:replace="layout/layout :: lateral"></aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 th:text="${titulo}"></h1>
          </div>
          <div  th:replace="layout/layout :: 'breadcrumbApp'"></div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
      <!--/*@thymesVar id="clienteDto" type="cl.qande.mmii.app.models.dto.clientes.ClienteDto"*/-->
    <!--/*@thymesVar id="listaTiposId" type="java.util.List<cl.qande.mmii.app.models.dto.clientes.TipoIdentificadorDto>"*/-->
    <!--/*@thymesVar id="lista_registros" type="java.util.List<cl.qande.mmii.app.models.db.clientes.entity.ClienteMaestro>"*/-->
    <!--/*@thymesVar id="lista_relacionados" type="java.util.List<cl.qande.mmii.app.models.dto.clientes.PersonaRelacionadaDto>"*/-->
    <!--/*@thymesVar id="listaCargosRel" type="java.util.List<cl.qande.mmii.app.models.dto.clientes.ParCargoDto>"*/-->


    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="card" th:classappend="${(clienteDto.id != null or (status != null and status.codigo !=0) ) ? '' : ' collapsed-card'}">
        <div class="card-header" onclick="$(this).parent().CardWidget('toggle')">
          <h3 class="card-title" th:text="${(clienteDto.id != null or (status != null and status.codigo !=0) ) ? 'Modificar registro' : 'Nuevo registro'}"></h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas" th:classappend="${(clienteDto.id != null or (status != null and status.codigo !=0) ) ? ' fa-minus' : ' fa-plus'}"></i>
            </button>
          </div>
        </div>
        <div class="card-body login-card-body">
          <form id="form_guardar_registro" th:action="@{/mantenedores/enrolamiento/cliente/guardar}" method="post" th:object="${clienteDto}">

            <div class="form-group row">
              <label for="id" class="col-md-2 col-form-label">ID Interno</label>
              <div class="col-md-2">
                <input class="form-control" type="text" id="id" name="id" th:value="${clienteDto.id != null ? clienteDto.id: '0'}" disabled>
              </div>
            </div>

            <div class="form-group row">
              <label for="identificador" class="col-md-2 col-form-label">ID Cliente</label>
              <div class="col-md-2">
                <input class="form-control" type="text" id="identificador" name="identificador" th:value="${clienteDto.id != null ? clienteDto.identificador: ''}">
              </div>
              <span class="text-danger" th:if="${#fields.hasErrors('identificador') and (clienteDto.id != null or (status != null and status.codigo !=0) )}" th:errors="*{identificador}"></span>
            </div>

            <div class="form-group row">
              <label for="nombre" class="col-md-2 col-form-label">Nombre</label>
              <div class="col-md-2">
                <input class="form-control" type="text" th:field="*{nombre}" id="nombre" name="nombre" th:value="${clienteDto.id != null ? clienteDto.nombre: ''}">
              </div>
              <span class="text-danger" th:if="${#fields.hasErrors('nombre') and (clienteDto.id != null or (status != null and status.codigo !=0) )}" th:errors="*{nombre}"></span>
            </div>

            <div class="form-group row">
              <label for="idTipoIdentificador" class="col-md-2 col-form-label">Tipo Identificador</label>
              <div class="col-md-2">
                <select class="form-control" th:field="*{idTipoIdentificador}" id="idTipoIdentificador" name="idTipoIdentificador" onchange="toggleDivRelacionados()">
                  <option th:each="tipoIdentificador : ${listaTiposId}"
                          th:value="${tipoIdentificador.id}"
                          th:text="${tipoIdentificador.tipoIdentificador + ' - ' + tipoIdentificador.glosaIdentificador}"
                          th:selected="${tipoIdentificador.id==idTipoIdentificador}"
                          th:attr="data-flag=${tipoIdentificador.flagTieneRelacionados}"></option>
                </select>
              </div>
              <span class="text-danger" th:if="${#fields.hasErrors('idTipoIdentificador') and (clienteDto.id != null or (status != null and status.codigo !=0) )}" th:errors="*{idTipoIdentificador}"></span>
            </div>

            <div class="form-group row">
              <label for="cuenta" class="col-md-2 col-form-label">Cuenta</label>
              <div class="col-md-2">
                <input class="form-control" type="text" id="cuenta" name="cuenta" th:value="${(listaCuentasCliente!=null) ? listaCuentasCliente: ''}" th:readonly="${(clienteDto.id!=null && clienteDto.id!=0)}">
              </div>
            </div>

            <div class="form-group row">
              <label for="fee" class="col-md-2 col-form-label">Fee</label>
              <div class="col-md-2">
                <input class="form-control" type="text" id="fee" name="fee"
                       th:value="${(clienteDto.id != null and clienteDto.fee!=null and clienteDto.fee!=0) ? T(cl.qande.mmii.app.util.helper.CustomThymeleafHelper).formatRentRepMaestrosWeb(clienteDto.fee): ''}" />
              </div>
              <div class="col-md-1">
                <button type="button" class="btn btn-info" onclick="consultarFee()">Consultar Fee</button>
              </div>
              <div class="col-md-4">
                <span id="mensajeFee"
                      th:text="${#fields.hasErrors('fee') ? #fields.errors('fee') : ''}"
                      class="text-danger"
                      style="display:block;">
                </span>


              </div>
            </div>
            <input type="hidden" id="feeWs" name="feeWs" />

            <div id="div-relacionados">
              <div class="form-group row">
                <div>
                  <h3 class="card-title" th:text="${'Relacionado (sólo para clientes NIT)'}"></h3>
                </div>
                <input type="hidden" id="personasRelacionadas" name="personasRelacionadas" />
              </div>
              <div class="form-group row">
                <div id="PersonasGrid"></div>
              </div>
            </div>

          </form>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">
          <a id="guardar-btn" class="btn btn-app" ><i class="fas fa-save"></i>Guardar</a>
        </div>
        <!-- /.card-footer-->
      </div>
      <!-- /.card -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Listado registros existentes</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body login-card-body">
          <table id="tabla_valores" class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
              <th>ID Interno</th>
              <th>ID Cliente</th>
              <th>Tipo ID.</th>
              <th>Nombre</th>
              <th>Fee</th>
              <th>Cuentas</th>
              <th>Modificar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="registro_actual: ${lista_registros}">
              <td th:text="${registro_actual.id}"></td>
              <td th:text="${registro_actual.identificador}"></td>
              <td th:text="${registro_actual.tipoIdentificador+' - '+registro_actual.glosaIdentificador}"></td>
              <td th:text="${registro_actual.nombre}"></td>
              <td th:text="${ (registro_actual.fee!=null ? T(cl.qande.mmii.app.util.helper.CustomThymeleafHelper).formatRentWeb(registro_actual.fee) : '') }"></td>
              <td th:text="${registro_actual.listaCuentas}"></td>
              <td>
                <a class="btn bg-info" th:href="@{/mantenedores/enrolamiento/cliente/editar/{id}(id=${registro_actual.id})}">Editar / Ver Detalle</a>
              </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <th>ID Interno</th>
              <th>ID Cliente</th>
              <th>Tipo ID.</th>
              <th>Nombre</th>
              <th>Fee</th>
              <th>Cuentas</th>
              <th>Modificar</th>
            </tr>
            </tfoot>
          </table>

        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer th:replace="layout/layout :: 'footerCustom'"></footer>

  <aside th:replace="layout/layout :: lateral_control"></aside>
</div>
<!-- ./wrapper -->


<!-- DataTables  & Plugins -->
<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/dataTables.buttons.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/jszip/jszip.min.js}"></script>
<script th:src="@{/plugins/pdfmake/pdfmake.js}"></script>
<script th:src="@{/plugins/pdfmake/vfs_fonts.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.html5.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.print.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.colVis.min.js}"></script>

<!-- InputMask -->
<script th:src="@{/plugins/moment/moment.min.js}"></script>
<!-- date-range-picker -->
<script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script th:src="@{/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js}"></script>


<script th:inline="javascript">
  var urlConsultaFee = /*[[@{/mantenedores/enrolamiento/cliente/consulta-fee}]]*/ '';

  $(document).ready(function() {



    var temporaryId     = -1;
    var defaultId       = null;
    var defaultCargoRel = null;
    var idGrilla        = "PersonasGrid";

    /*<![CDATA[*/

    var relacionadosData = [
      /*[# th:each="objeto : ${lista_relacionados}"]*/
      {
        id: ( ([[${objeto.getId}]] ==null || [[${objeto.getId}]]<0) ? (temporaryId--) : [[${objeto.getId}]] ),
        idTipoIdentificador: [[${objeto.getIdTipoIdentificador}]],
        identificador: [[${objeto.getIdentificador}]],
        nombre: [[${objeto.getNombre}]],
        idCargo: [[${objeto.getIdCargo}]]
      },
      /*[/]*/
    ];

    var tipoIdentificadorData = [
      /*[# th:each="objeto : ${listaTiposId}"]*/
      {
        id: [[${objeto.id}]],
        name: [[${objeto.tipoIdentificador}]] + ' - ' + [[${objeto.glosaIdentificador}]]
      },
      /*[/]*/
    ];

    var listaCargosRelData = [
      /*[# th:each="objeto : ${listaCargosRel}"]*/
      {
        id: [[${objeto.id}]],
        name: [[${objeto.id}]] + ' - ' + [[${objeto.glosa}]]
      },
      /*[/]*/
    ];
    /*]]>*/

    if (tipoIdentificadorData.length>0) {
      defaultId = tipoIdentificadorData[0].id;
    }

    if (listaCargosRelData.length>0) {
      defaultCargoRel = listaCargosRelData[0].id;
    }


    ej.grids.Grid.Inject(ej.grids.Page, ej.grids.Edit,  ej.grids.Toolbar);

    var gridRelacionados = new ej.grids.Grid({
      dataSource: relacionadosData,
      editSettings: {
        mode: 'Batch', showConfirmDialog: false, newRowPosition: 'Bottom',
        allowEditing: true, allowAdding: true, allowDeleting: true
      },
      toolbar: ['Add', 'Cancel', 'Delete'],
      enableHover: false,
      cellSaved: function() {
        this.editModule.batchSave();
      },
      batchDelete: function() {
        this.editModule.batchSave();
      },
      columns: [
        { field: 'id', headerText: 'ID Interno',  isPrimaryKey: true, allowEditing: false, visible: false, defaultValue: temporaryId--},
        { field: 'identificador', headerText: 'ID Relacionado', validationRules: { required: true }, defaultValue: '' },
        { field: 'nombre', headerText: 'Nombre',validationRules: { required: true }, defaultValue: '' },
        { field: 'idTipoIdentificador', headerText: 'Tipo Identificador', validationRules: { required: true }, editType: 'dropdownedit', defaultValue: defaultId,
          edit: {
            params: {
              dataSource: new ej.data.DataManager(tipoIdentificadorData),
              fields: { text: 'name', value: 'id' },
              query:  new ej.data.Query(),
              actionComplete: () => false
            }
          },
          /*
          // Usar valueAccessor para mostrar el texto en lugar del valor
          valueAccessor: (field, data, column) => {
            let tipoIdentificador = tipoIdentificadorData.find(item => item.id === data.idTipoIdentificador);
            return tipoIdentificador ? tipoIdentificador.name : '';
          }*/
          // Definir template para mostrar el texto (Name) en lugar del valor (Id). A diferencia de valueAccessor, se puede modificar el HTML completo (sofisticar estilo, agregar íconos)
          template: function (data) {
            let tipoIdentificador = tipoIdentificadorData.find(item => item.id === data.idTipoIdentificador);
            return tipoIdentificador ? tipoIdentificador.name : '';
          }
        },
        { field: 'idCargo', headerText: 'Cargo', validationRules: { required: true }, editType: 'dropdownedit', defaultValue: defaultCargoRel,
          edit: {
            params: {
              dataSource: new ej.data.DataManager(listaCargosRelData),
              fields: { text: 'name', value: 'id' },
              query:  new ej.data.Query(),
              actionComplete: () => false
            }
          },
          template: function (data) {
            let cargo = listaCargosRelData.find(item => item.id === data.idCargo);
            return cargo ? cargo.name : '';
          }
        }
      ],
      height: 150

    });
    // Renderizar el Grid
    gridRelacionados.appendTo('#'+idGrilla);


    // Función para obtener los datos del Grid
    function obtenerPersonasRelacionadas() {
      //gridRelacionados.endEdit();
      gridRelacionados.editModule.batchSave();
      console.debug(gridRelacionados.getDataRows())
      console.debug(gridRelacionados.getBatchChanges())
      console.debug(gridRelacionados.getCurrentViewRecords())
      return gridRelacionados.getCurrentViewRecords();
    }


    function guardar() {
      var id      = $('#id').val();
      var myForm  = document.getElementById('form_guardar_registro');
      var personasRelacionadas      = obtenerPersonasRelacionadas();
      console.log(personasRelacionadas);

      if (id!="") {
        var oldAction   = myForm.action;
        myForm.action = oldAction + '/'+id;
      }
      document.getElementById('personasRelacionadas').value = JSON.stringify(personasRelacionadas);
      myForm.submit();
    }



  $(function () {
    $("#tabla_valores").DataTable({
      dom: 'Bfrtip',"responsive": true, "lengthChange": true, "autoWidth": false, "pageLength": 50,
      "buttons": ["copy", "csv", "excel", "print", "colvis"]
    }).buttons().container().appendTo('#tabla_valores_wrapper .col-md-6:eq(0)');
  });

  $('#guardar-btn').on('click', guardar);


  $('#my-card').CardWidget('collapse');

  });
</script>
<script>
  function toggleDivRelacionados() {
    var selectElement = document.getElementById("idTipoIdentificador");

    var selectedOption  = selectElement.options[selectElement.selectedIndex];
    var esNit           = selectedOption.getAttribute("data-flag")=='true';

    var divRelacionados = document.getElementById("div-relacionados");
    if (esNit) {
      divRelacionados.style.display = "block";
    } else {
      divRelacionados.style.display = "none";
    }
  }

  // Call the function on page load to set the initial state
  document.addEventListener("DOMContentLoaded", function() {
    toggleDivRelacionados();
  });


  function consultarFee() {
    var cuenta = document.getElementById("cuenta").value;
    var mensajeFee = document.getElementById("mensajeFee");

    mensajeFee.style.display = "none";
    mensajeFee.innerText = "";
    mensajeFee.removeAttribute("data-origen"); // limpio cualquier origen previo
    mensajeFee.classList.remove("text-success", "text-danger");

    if (!cuenta || cuenta.trim() === "") {
      mensajeFee.innerText = "Debe ingresar una cuenta antes de consultar el fee.";
      mensajeFee.classList.add("text-danger");
      mensajeFee.setAttribute("data-origen", "ws");
      mensajeFee.style.display = "block";
      return;
    }

    $.ajax({
      url: urlConsultaFee,
      type: 'GET',
      data: { cuenta: cuenta },
      success: function (response) {
        if (response.fee != null) {
          $('#feeWs').val(response.fee);
          mensajeFee.classList.add("text-success");
          mensajeFee.innerText = "Fee obtenido correctamente: " + response.fee + ". Por favor redigítelo.";
          mensajeFee.style.display = "block";
        } else {
          $('#feeWs').val('');
          mensajeFee.classList.add("text-danger");
          mensajeFee.setAttribute("data-origen", "ws");
          mensajeFee.innerText = response.mensajeError || "No se obtuvo fee. Debe consultar correctamente el valor antes de guardar.";
          mensajeFee.style.display = "block";
        }
      },
      error: function () {
        $('#feeWs').val('');
        mensajeFee.classList.add("text-danger");
        mensajeFee.setAttribute("data-origen", "ws");
        mensajeFee.innerText = "Error al consultar fee.";
        mensajeFee.style.display = "block";
      }
    });
  }






</script>

<div th:replace="layout/layout :: scripting_cierre"></div>
</body>
</html>
