<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
  <header th:replace="layout/layout :: header"></header>

  <aside th:replace="layout/layout :: lateral"></aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 th:text="${titulo}"></h1>
          </div>
          <div  th:replace="layout/layout :: 'breadcrumbApp'"></div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!--/*@thymesVar id="comisionCuentaDto" type="cl.qande.mmii.app.models.dto.ComisionCuentaDto"*/-->
    <!--/*@thymesVar id="lista_registros" type="java.util.List<cl.qande.mmii.app.models.dto.ComisionMaestroDto>"*/-->
    <!--/*@thymesVar id="lista_clientes" type="java.util.List<cl.qande.mmii.app.models.dto.ClienteCuentaMaestroDto>"*/-->


    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <form id="form_guardar_registro" method="post" th:object="${comisionCuentaDto}" th:action="@{/mantenedores/enrolamiento/comision_cuenta}">
      <div class="card" th:classappend="${(comisionCuentaDto.id != null or (status != null and status.codigo !=0) ) ? '' : ' collapsed-card'}">
          <div class="card-header" onclick="$(this).parent().CardWidget('toggle')">
            <h3 class="card-title" th:text="${(comisionCuentaDto.id != null or (status != null and status.codigo !=0) ) ? 'Modificar registro' : 'Nuevo registro'}"></h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas" th:classappend="${(comisionCuentaDto.id != null or (status != null and status.codigo !=0) ) ? ' fa-minus' : ' fa-plus'}"></i>
              </button>
            </div>
          </div>

          <div class="card-body login-card-body">

              <div class="form-group row">
                <label for="id" class="col-md-2 col-form-label">ID Interno</label>
                <div class="col-md-2">
                  <input class="form-control" type="text" id="id" name="id" th:value="${comisionCuentaDto.id != null ? comisionCuentaDto.id: '0'}" disabled>
                </div>
              </div>

              <div class="form-group row">
                <label for="idCuenta" class="col-md-2 col-form-label">ID Cuenta</label>
                <div class="col-md-2">
                  <select class="form-control" th:field="*{idCuenta}" id="idCuenta" name="idCuenta">
                    <option th:value="${null}" th:text="${'Seleccione una cuenta'}" th:selected="${true}"></option>
                    <option th:each="cliente : ${lista_clientes}" th:value="${cliente.id.idInternoCuenta}" th:text="${cliente.idCuentaCustodio + ' - ' + cliente.nombreCliente}" th:selected="${false}"></option>
                  </select>
                </div>
                <span class="text-danger" th:if="${#fields.hasErrors('idCuenta') and (comisionCuentaDto.id != null or (status != null and status.codigo !=0) )}" th:errors="*{idCuenta}"></span>
              </div>

              <div class="form-group row">
                <label for="comisionDiariaSaldo" class="col-md-2 col-form-label">Comisión Diaria Saldo</label>
                <div class="col-md-2">
                  <input class="form-control" type="text" th:field="*{comisionDiariaSaldo}" id="comisionDiariaSaldo" name="comisionDiariaSaldo" th:value="${comisionCuentaDto.id != null ? comisionCuentaDto.comisionDiariaSaldo: ''}">
                </div>
                <small class="form-text text-muted">Deje vacío para usar comisión por defecto</small>
                <span class="text-danger" th:if="${#fields.hasErrors('comisionDiariaSaldo') and (comisionCuentaDto.id != null or (status != null and status.codigo !=0) )}" th:errors="*{comisionDiariaSaldo}"></span>
              </div>

              <div class="form-group row">
                <label for="fechaInicioVigencia" class="col-md-2 col-form-label">Fecha Inicio Vigencia</label>
                <div class="col-md-2">
                  <input class="form-control" type="text" placeholder="yyyy-MM-dd" id="fechaInicioVigencia" name="fechaInicioVigencia" th:value="${#dates.format(comisionCuentaDto.fechaInicioVigencia, 'yyyy-MM-dd')}">
                </div>
              </div>

          </div>
          <!-- /.card-body -->

          <div class="card-footer">
            <!--<a class="btn btn-app" th:onclick=""><i class="fas fa-save"></i>Guardar</a>-->
            <button type="submit" class="btn btn-app"><i class="fas fa-save"></i>Guardar</button>
          </div>
          <!-- /.card-footer-->

      </div>
      </form>
      <!-- /.card -->
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Registros existentes</h3>

          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
          </div>
        </div>
        <div class="card-body login-card-body">

          <div class="card-body login-card-body">
            <div id="grid-wrapper-comisiones" th:if="${!#lists.isEmpty(lista_registros)}"></div>
          </div>


        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer th:replace="layout/layout :: 'footerCustom'"></footer>

  <aside th:replace="layout/layout :: lateral_control"></aside>
</div>
<!-- ./wrapper -->



<!-- InputMask -->
<script th:src="@{/plugins/moment/moment.min.js}"></script>
<!-- date-range-picker -->
<script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script th:src="@{/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js}"></script>


<script>
  createCustomCalendarHtml("fechaInicioVigencia", {}, false, null, moment().add(1, 'month'));
</script>

<script th:inline="javascript">
  $(document).ready(function() {
    /*<![CDATA[*/
    var comisionDataSource = [
      /*[# th:each="objeto : ${lista_registros}"]*/
      {
        RowId: [[${objeto.getRowId}]],
        //Id: [[${objeto.getId}]],
        //IdCuenta: [[${objeto.getIdCuenta}]],
        ComisionDiariaSaldo: [[${objeto.getComisionDiariaSaldo != null ? T(cl.qande.mmii.app.util.helper.CustomThymeleafHelper).formatMontoRepMaestrosWeb(objeto.getComisionDiariaSaldo): ''}]],
        FechaInicioVigencia: [[${#dates.format(objeto.getFechaInicioVigencia(), 'yyyy-MM-dd')}]],
        //LogFechaCreacion: [[${objeto.getLogFechaCreacion}]],
        //LogUsuarioCreacion: [[${objeto.getLogUsuarioCreacion}]],
        //IdInternoCliente: [[${objeto.getIdInternoCliente}]],
        IdentificadorCliente: [[${objeto.getIdentificadorCliente}]],
        NombreCliente: [[${objeto.getNombreCliente}]],
        //IdTipoIdentificadorCliente: [[${objeto.getIdTipoIdentificadorCliente}]],
        TipoIdentificadorCliente: [[${objeto.getTipoIdentificadorCliente}]],
        GlosaIdentificadorCliente: [[${objeto.getGlosaIdentificadorCliente}]],
        //IdInternoCuenta: [[${objeto.getIdInternoCuenta}]],
        //IdCustodio: [[${objeto.getIdCustodio}]],
        IdCuentaCustodio: [[${objeto.getIdCuentaCustodio}]]
        //Habilitado: [[${objeto.getHabilitado}]]
      },
      /*[/]*/
    ];
    /*]]>*/

    var comisionColumns = [
      { field: 'rowId', headerText: 'RowId', visible: false },
      //{ field: 'id', headerText: 'Id', visible: false },
      //{ field: 'idCuenta', headerText: 'IdCuenta', visible: false },
      { field: 'comisionDiariaSaldo', headerText: 'ComisionDiariaSaldo', visible: true },
      { field: 'fechaInicioVigencia', headerText: 'FechaInicioVigencia', visible: true },
      //{ field: 'logFechaCreacion', headerText: 'LogFechaCreacion', visible: false },
      //{ field: 'logUsuarioCreacion', headerText: 'LogUsuarioCreacion', visible: false },
      //{ field: 'idInternoCliente', headerText: 'IdInternoCliente', visible: false },
      { field: 'identificadorCliente', headerText: 'IdentificadorCliente', visible: true },
      { field: 'nombreCliente', headerText: 'NombreCliente', visible: true },
      //{ field: 'idTipoIdentificadorCliente', headerText: 'IdTipoIdentificadorCliente', visible: false },
      { field: 'tipoIdentificadorCliente', headerText: 'TipoIdentificadorCliente', visible: false },
      { field: 'glosaIdentificadorCliente', headerText: 'GlosaIdentificadorCliente', visible: true },
      //{ field: 'idInternoCuenta', headerText: 'IdInternoCuenta', visible: false },
      //{ field: 'idCustodio', headerText: 'IdCustodio', visible: true },
      { field: 'idCuentaCustodio', headerText: 'IdCuentaCustodio', visible: true }
      //{ field: 'habilitado', headerText: 'Habilitado', visible: false }
    ];

    createDefaultGridWithWrapper('grid-wrapper-comisiones', comisionDataSource, comisionColumns, 'ExcepcionesComerciales', ';');

  });

</script>

<div th:replace="layout/layout :: scripting_cierre"></div>
</body>
</html>
