<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <header th:replace="layout/layout :: header"></header>

    <aside th:replace="layout/layout :: lateral"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 th:text="${titulo}"></h1>
                    </div>
                    <div  th:replace="layout/layout :: 'breadcrumbApp'"></div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card" th:classappend="${(contrato.id != null or (status != null and status.codigo !=0) ) ? '' : ' collapsed-card'}">
                <div class="card-header" onclick="$(this).parent().CardWidget('toggle')">
                    <h3 class="card-title" th:text="${(contrato.id != null or (status != null and status.codigo !=0) ) ? 'Modificar registro' : 'Nuevo registro'}"></h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas" th:classappend="${(contrato.id != null or (status != null and status.codigo !=0) ) ? ' fa-minus' : ' fa-plus'}"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body login-card-body">
                    <form id="form_guardar_registro" th:action="@{/mantenedores/enrolamiento/contrato/guardar}" method="post" th:object="${contrato}">
                        <div class="form-group row">
                            <label for="idCliente" class="col-md-2 col-form-label">Id Cliente</label>
                            <div class="col-md-2">
                                <input class="form-control" type="text" th:field="*{idCliente}" id="idCliente" name="idCliente" th:value="${contrato.id != null ? contrato.idCliente: ''}">
                            </div>
                            <span class="text-danger" th:if="${#fields.hasErrors('idCliente') and (contrato.id != null or (status != null and status.codigo !=0) )}" th:errors="*{idCliente}"></span>
                        </div>
                        <div class="form-group row">
                            <label for="id" class="col-md-2 col-form-label">ID Contrato</label>
                            <div class="col-md-2">
                                <input class="form-control" type="text" id="id" name="id" th:value="${contrato.id != null ? contrato.id: ''}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="tipoCuenta" class="col-md-2 col-form-label">Tipo Cuenta</label>
                            <div class="col-md-2">
                                <input class="form-control" type="text" th:field="*{tipoCuenta}" id="tipoCuenta" name="tipoCuenta" th:value="${contrato.id != null ? contrato.tipoCuenta: ''}">
                            </div>
                            <span class="text-danger" th:if="${#fields.hasErrors('tipoCuenta') and (contrato.id != null or (status != null and status.codigo !=0) )}" th:errors="*{tipoCuenta}"></span>
                        </div>
                        <div class="form-group row">
                            <label for="tipoServicio" class="col-md-2 col-form-label">Tipo Servicio</label>
                            <div class="col-md-2">
                                <input class="form-control" type="text" th:field="*{tipoServicio}" id="tipoServicio" name="tipoServicio" th:value="${contrato.id != null ? contrato.tipoServicio: ''}">
                            </div>
                            <span class="text-danger" th:if="${#fields.hasErrors('tipoServicio') and (contrato.id != null or (status != null and status.codigo !=0) )}" th:errors="*{tipoServicio}"></span>
                        </div>
                        <div class="form-group row">
                            <label for="tarifaNegociada" class="col-md-2 col-form-label">Tarifa Negociada</label>
                            <div class="col-md-2">
                                <input class="form-control" type="text" th:field="*{tarifaNegociada}" id="tarifaNegociada" name="tarifaNegociada" th:value="${contrato.id != null ? #numbers.formatDecimal(contrato.tarifaNegociada,1, 4,'POINT'): '0'}">
                            </div>
                            <span class="text-danger" th:if="${#fields.hasErrors('tarifaNegociada') and (contrato.id != null or (status != null and status.codigo !=0) )}" th:errors="*{tarifaNegociada}"></span>
                        </div>
                    </form>

                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <a class="btn btn-app" th:onclick="guardar()"><i class="fas fa-save"></i>Guardar</a>
                </div>
                <!-- /.card-footer-->
            </div>
            <!-- /.card -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Listado registros existentes</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body login-card-body">
                    <table id="tabla_valores" class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th>ID Cliente</th>
                            <th>ID Contrato</th>
                            <th>Tipo Cuenta</th>
                            <th>Tipo Servicio</th>
                            <th>Tarifa Negociada</th>
                            <th>Modificar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="registro_actual: ${lista_registros}">
                            <td th:text="${registro_actual.idCliente}"></td>
                            <td th:text="${registro_actual.id}"></td>
                            <td th:text="${registro_actual.tipoCuenta}"></td>
                            <td th:text="${registro_actual.tipoServicio}"></td>
                            <td th:text="${T(cl.qande.mmii.app.util.helper.CustomThymeleafHelper).formatNumberDefault(registro_actual.tarifaNegociada)}"></td>
                            <td>
                                <a class="btn bg-info" th:href="@{/mantenedores/enrolamiento/contrato/editar/{id}(id=${registro_actual.id})}">Editar</a>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>ID Cliente</th>
                            <th>ID Contrato</th>
                            <th>Tipo Cuenta</th>
                            <th>Tipo Servicio</th>
                            <th>Tarifa Negociada</th>
                            <th>Modificar</th>
                        </tr>
                        </tfoot>
                    </table>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer th:replace="layout/layout :: 'footerCustom'"></footer>

    <aside th:replace="layout/layout :: lateral_control"></aside>
</div>
<!-- ./wrapper -->


<!-- DataTables  & Plugins -->
<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/dataTables.buttons.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/jszip/jszip.min.js}"></script>
<script th:src="@{/plugins/pdfmake/pdfmake.js}"></script>
<script th:src="@{/plugins/pdfmake/vfs_fonts.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.html5.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.print.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.colVis.min.js}"></script>

<!-- InputMask -->
<script th:src="@{/plugins/moment/moment.min.js}"></script>
<!-- date-range-picker -->
<script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script th:src="@{/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js}"></script>


<script>

    $(function () {
        $("#tabla_valores").DataTable({
            dom: 'Bfrtip',"responsive": true, "lengthChange": true, "autoWidth": false, "pageLength": 50,
            "buttons": ["copy", "csv", "excel", "print", "colvis"]
        }).buttons().container().appendTo('#tabla_valores_wrapper .col-md-6:eq(0)');
    });

    function guardar() {
        var id = $('#id').val();
        var myForm  = document.getElementById('form_guardar_registro');
        if (id!="") {
            var oldAction   = myForm.action;
            console.log(oldAction);
            myForm.action = oldAction + '/'+id;
        }
        console.log(myForm.action);
        myForm.submit();
    }

    $('#my-card').CardWidget('collapse');
</script>

<div th:replace="layout/layout :: scripting_cierre"></div>
</body>
</html>
