<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <header th:replace="layout/layout :: header"></header>

    <aside th:replace="layout/layout :: lateral"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Registros No Informados por Custodio</h1>
                    </div>
                    <div  th:replace="layout/layout :: 'breadcrumbApp'"></div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header" onclick="$(this).parent().CardWidget('toggle')">
                    <h3 class="card-title" th:text="${titulo}"></h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body login-card-body">
                    <form id="form_guardar_registro" th:action="@{/rectificacion/registros_no_informados/reversa}" method="get">
                        <div class="form-group row">
                            <p class="col-md-2 text-danger">Consideraciones</p>
                            <div class="col-md text-info">
                                <p>1. Estos registros se encuentran aprobados. Su reversa requiere obligatoriamente re-procesar la fecha respectiva.</p>
                                <p>2. Esta reversa no realiza dicho re-proceso, deberá hacerlo a través del menú en la sección Procesos -> Reprocesos.</p>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="processDate" class="col-md-2 col-form-label">Process Date</label>
                            <div class="col-md-2">
                                <input class="form-control" type="text" placeholder="yyyy-MM-dd" id="processDate" name="processDate" th:value="${processDate}">
                            </div>
                        </div>

                    </form>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <a class="btn btn-app" th:onclick="buscar()"><i class="fas fa-search"></i>Buscar</a>
                </div>
                <!-- /.card-footer-->
            </div>
            <!-- /.card -->


            <div class="card">
                <div class="card-header" onclick="$(this).parent().CardWidget('toggle')">
                    <h3 class="card-title">Registros de Cuentas No Informadas aprobados</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
                <div class="card-body login-card-body">
                    <table id="tabla_cuentas" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Eliminar</th>
                            <th>Process Date</th>
                            <th>Custodian</th>
                            <th>Client ID</th>
                            <th>Firm No</th>
                            <th>Sub No</th>
                            <th>Rep No</th>
                            <th>Office ID</th>
                            <th>Account No</th>
                            <th>Name</th>
                            <th>Full Name</th>
                            <th>Address</th>
                            <th>Short Name</th>
                            <th>Date of Birth</th>
                            <th>Account Status</th>
                            <th>Email</th>
                            <th>Country Code</th>
                            <th>Country</th>
                            <th>W8 Date</th>
                            <th>W9 Date</th>
                            <th>W8 Status</th>
                            <th>W9 Status</th>
                            <th>Discr Trading</th>
                            <th>Account Type</th>
                            <th>Tipo Cuenta</th>
                            <th>Cash/Margin Account</th>
                            <th>Modelo de Relacionamiento</th>
                            <th>Debit Card Indicator</th>
                            <th>Open Date</th>
                            <th>Close Date</th>
                            <th>Participant Type</th>
                            <th>Client Investment Profile</th>
                            <th>Portfolio</th>
                            <th>Tipo de Servicio</th>
                            <th>Advisory Fee Annual</th>
                            <th>Last Statement</th>
                            <th>Main Advisor</th>
                            <th>Secondary Advisor</th>
                            <th>Email Main Advisor</th>
                            <th>Email Secondary Advisor</th>
                            <th>Tax ID</th>
                            <th>Last Activity Month</th>
                            <th>Institution Code</th>
                            <th>Restriction Date</th>
                            <th>Fondeo</th>
                            <th>Monto Comprometido</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="registro : ${lista_registros_cuentas}">
                            <td th:text="${registro.id}"></td>
                            <td>
                                <a class="btn bg-danger" th:href="@{/rectificacion/registros_no_informados/cuentas/reversar/{id}(id=${registro.id})}" onclick="return confirmarReversar()"><i class="fas fa-trash"></i></a>
                            </td>
                            <td th:text="${registro.processDate}"></td>
                            <td th:text="${registro.custodian}"></td>
                            <td th:text="${registro.clientId}"></td>
                            <td th:text="${registro.firmNo}"></td>
                            <td th:text="${registro.subNo}"></td>
                            <td th:text="${registro.repNo}"></td>
                            <td th:text="${registro.officeId}"></td>
                            <td th:text="${registro.accountNo}"></td>
                            <td th:text="${registro.name}"></td>
                            <td th:text="${registro.fullName}"></td>
                            <td th:text="${registro.address}"></td>
                            <td th:text="${registro.shortName}"></td>
                            <td th:text="${registro.dateOfBirth}"></td>
                            <td th:text="${registro.acctStatusValue}"></td>
                            <td th:text="${registro.email}"></td>
                            <td th:text="${registro.countryCodeValue}"></td>
                            <td th:text="${registro.country}"></td>
                            <td th:text="${registro.w8Date}"></td>
                            <td th:text="${registro.w9Date}"></td>
                            <td th:text="${registro.w8StatusValue}"></td>
                            <td th:text="${registro.w9StatusValue}"></td>
                            <td th:text="${registro.discrTradingCodeValue}"></td>
                            <td th:text="${registro.accountType}"></td>
                            <td th:text="${registro.contratosPa}"></td>
                            <td th:text="${registro.cashMarginAccount}"></td>
                            <td th:text="${registro.modeloRelacionamiento}"></td>
                            <td th:text="${registro.debitCardIndicator}"></td>
                            <td th:text="${registro.openDate}"></td>
                            <td th:text="${registro.closeDate}"></td>
                            <td th:text="${registro.participantType}"></td>
                            <td th:text="${registro.clientInvestmentProfile}"></td>
                            <td th:text="${registro.portfolio}"></td>
                            <td th:text="${registro.tipoServicio}"></td>
                            <td th:text="${registro.advisoryFeeAnnualPct}"></td>
                            <td th:text="${registro.lastStatementDate}"></td>
                            <td th:text="${registro.mainAdvisor}"></td>
                            <td th:text="${registro.secondaryAdvisor}"></td>
                            <td th:text="${registro.emailMainAdvisor}"></td>
                            <td th:text="${registro.emailSecondaryAdvisor}"></td>
                            <td th:text="${registro.taxId}"></td>
                            <td th:text="${registro.lastActivityMonth}"></td>
                            <td th:text="${registro.institutionCode}"></td>
                            <td th:text="${registro.restrictionDate}"></td>
                            <td th:text="${registro.fondeo}"></td>
                            <td th:text="${registro.montoComprometido}"></td>
                        </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Eliminar</th>
                                <th>Process Date</th>
                                <th>Custodian</th>
                                <th>Client ID</th>
                                <th>Firm No</th>
                                <th>Sub No</th>
                                <th>Rep No</th>
                                <th>Office ID</th>
                                <th>Account No</th>
                                <th>Name</th>
                                <th>Full Name</th>
                                <th>Address</th>
                                <th>Short Name</th>
                                <th>Date of Birth</th>
                                <th>Account Status</th>
                                <th>Email</th>
                                <th>Country Code</th>
                                <th>Country</th>
                                <th>W8 Date</th>
                                <th>W9 Date</th>
                                <th>W8 Status</th>
                                <th>W9 Status</th>
                                <th>Discr Trading</th>
                                <th>Account Type</th>
                                <th>Tipo Cuenta</th>
                                <th>Cash/Margin Account</th>
                                <th>Modelo de Relacionamiento</th>
                                <th>Debit Card Indicator</th>
                                <th>Open Date</th>
                                <th>Close Date</th>
                                <th>Participant Type</th>
                                <th>Client Investment Profile</th>
                                <th>Portfolio</th>
                                <th>Tipo de Servicio</th>
                                <th>Advisory Fee Annual</th>
                                <th>Last Statement</th>
                                <th>Main Advisor</th>
                                <th>Secondary Advisor</th>
                                <th>Email Main Advisor</th>
                                <th>Email Secondary Advisor</th>
                                <th>Tax ID</th>
                                <th>Last Activity Month</th>
                                <th>Institution Code</th>
                                <th>Restriction Date</th>
                                <th>Fondeo</th>
                                <th>Monto Comprometido</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <div class="card">
                <div class="card-header" onclick="$(this).parent().CardWidget('toggle')">
                    <h3 class="card-title">Registros de Saldos No Informados aprobados</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
                <div class="card-body login-card-body">
                    <table id="tabla_saldos" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Eliminar</th>
                            <th>Process Date</th>
                            <th>Custodian</th>
                            <th>Client ID</th>
                            <th>Firm No</th>
                            <th>Sub No</th>
                            <th>Office ID</th>
                            <th>Rep No</th>
                            <th>REP</th>
                            <th>Account No</th>
                            <th>Name</th>
                            <th>Symbol</th>
                            <th>Cusip</th>
                            <th>ISIN</th>
                            <th>Product Type</th>
                            <th>Security Description</th>
                            <th>Cash/Margin Account</th>
                            <th>Quantity</th>
                            <th>Market Price</th>
                            <th>Currency</th>
                            <th>Market Value</th>
                            <th>FX Rate</th>
                            <th>USDE Market Value</th>
                            <th>Advisory Fee (Annual %)</th>
                            <th>Factor</th>
                            <th>Comision Devengada Diaria</th>
                            <th>USDE Market Price</th>
                            <th>Sec No</th>
                            <th>Descr. 1</th>
                            <th>Descr. 2</th>
                            <th>Descr. 3</th>
                            <th>Id Sub Sub Tipo</th>
                            <th>Id SubT ipo</th>
                            <th>Id Tipo</th>
                            <th>Nombre Sub Sub Tipo</th>
                            <th>SecId</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="registro : ${lista_registros_saldos}">
                            <td th:text="${registro.id}"></td>
                            <td>
                                <a class="btn bg-danger" th:href="@{/rectificacion/registros_no_informados/saldos/reversar/{id}(id=${registro.id})}" onclick="return confirmarReversar()"><i class="fas fa-trash"></i></a>
                            </td>
                            <td th:text="${registro.processDate}"></td>
                            <td th:text="${registro.custodian}"></td>
                            <td th:text="${registro.clientId}"></td>
                            <td th:text="${registro.firmNo}"></td>
                            <td th:text="${registro.subNo}"></td>
                            <td th:text="${registro.officeId}"></td>
                            <td th:text="${registro.repNo}"></td>
                            <td th:text="${registro.rep}"></td>
                            <td th:text="${registro.accountNo}"></td>
                            <td th:text="${registro.name}"></td>
                            <td th:text="${registro.symbol}"></td>
                            <td th:text="${registro.cusip}"></td>
                            <td th:text="${registro.isin}"></td>
                            <td th:text="${registro.productType}"></td>
                            <td th:text="${registro.securityDescription}"></td>
                            <td th:text="${registro.cashMarginAccount}"></td>
                            <td th:text="${registro.quantity}"></td>
                            <td th:text="${registro.marketPrice}"></td>
                            <td th:text="${registro.currency}"></td>
                            <td th:text="${registro.marketValue}"></td>
                            <td th:text="${registro.fxRate}"></td>
                            <td th:text="${registro.usdeMarketValue}"></td>
                            <td th:text="${registro.advisoryFeeAnual}"></td>
                            <td th:text="${registro.factor}"></td>
                            <td th:text="${registro.comisionDevengadaDiaria}"></td>
                            <td th:text="${registro.usdeMarketPrice}"></td>
                            <td th:text="${registro.secNo}"></td>
                            <td th:text="${registro.desc1}"></td>
                            <td th:text="${registro.desc2}"></td>
                            <td th:text="${registro.desc3}"></td>
                            <td th:text="${registro.idSubSubTipoActivo}"></td>
                            <td th:text="${registro.idSubTipoActivo}"></td>
                            <td th:text="${registro.idTipoActivo}"></td>
                            <td th:text="${registro.nombreSubSubTipoActivo}"></td>
                            <td th:text="${registro.secId}"></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Eliminar</th>
                            <th>Process Date</th>
                            <th>Custodian</th>
                            <th>Client ID</th>
                            <th>Firm No</th>
                            <th>Sub No</th>
                            <th>Office ID</th>
                            <th>Rep No</th>
                            <th>REP</th>
                            <th>Account No</th>
                            <th>Name</th>
                            <th>Symbol</th>
                            <th>Cusip</th>
                            <th>ISIN</th>
                            <th>Product Type</th>
                            <th>Security Description</th>
                            <th>Cash/Margin Account</th>
                            <th>Quantity</th>
                            <th>Market Price</th>
                            <th>Currency</th>
                            <th>Market Value</th>
                            <th>FX Rate</th>
                            <th>USDE Market Value</th>
                            <th>Advisory Fee (Annual %)</th>
                            <th>Factor</th>
                            <th>Comision Devengada Diaria</th>
                            <th>USDE Market Price</th>
                            <th>Sec No</th>
                            <th>Descr. 1</th>
                            <th>Descr. 2</th>
                            <th>Descr. 3</th>
                            <th>Id Sub Sub Tipo</th>
                            <th>Id SubT ipo</th>
                            <th>Id Tipo</th>
                            <th>Nombre Sub Sub Tipo</th>
                            <th>SecId</th>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <div class="card">
                <div class="card-header" onclick="$(this).parent().CardWidget('toggle')">
                    <h3 class="card-title">Registros de Movimientos No Informados aprobados</h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse"><i class="fas fa-minus"></i></button>
                    </div>
                </div>
                <div class="card-body login-card-body">
                    <table id="tabla_movimientos" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Eliminar</th>
                            <th>Process Date</th>
                            <th>Custodian</th>
                            <th>Client ID</th>
                            <th>Office ID</th>
                            <th>Account N°</th>
                            <th>Name</th>
                            <th>Trade Date</th>
                            <th>Settl. Date</th>
                            <th>Activity</th>
                            <th>Buy/Sell</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Comission</th>
                            <th>Fees</th>
                            <th>Net Amount</th>
                            <th>USDE Net Amount</th>
                            <th>Principal</th>
                            <th>Cusip</th>
                            <th>Symbol</th>
                            <th>ISIN</th>
                            <th>Currency</th>
                            <th>FX Rate</th>
                            <th>Interest</th>
                            <th>Currency Base</th>
                            <th>Cash/Margin Account</th>
                            <th>Product Type</th>
                            <th>Security Description</th>
                            <th>Activity Description</th>
                            <th>Activity Code</th>
                            <th>Source Code</th>
                            <th>Reporte</th>
                            <th>Description 1</th>
                            <th>Description 2</th>
                            <th>Description 3</th>
                            <th>Ticker</th>
                            <th>Id Sub Sub Tipo Activo</th>
                            <th>Id Sub Tipo Activo</th>
                            <th>Id Tipo Activo</th>
                            <th>Nombre Sub Sub Tipo Activo</th>
                            <th>SecId</th>
                            <th>Aplica Flujo Neto</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="registro : ${lista_registros_movtos}">
                            <td th:text="${registro.id}"></td>
                            <td>
                                <a class="btn bg-danger" th:href="@{/rectificacion/registros_no_informados/movimientos/reversar/{id}(id=${registro.id})}" onclick="return confirmarReversar()"><i class="fas fa-trash"></i></a>
                            </td>
                            <td th:text="${registro.processDate}"></td>
                            <td th:text="${registro.custodian}"></td>
                            <td th:text="${registro.clientId}"></td>
                            <td th:text="${registro.officeId}"></td>
                            <td th:text="${registro.accountNo}"></td>
                            <td th:text="${registro.name}"></td>
                            <td th:text="${registro.tradeDate}"></td>
                            <td th:text="${registro.settlementDate}"></td>
                            <td th:text="${registro.activity}"></td>
                            <td th:text="${registro.buySell}"></td>
                            <td th:text="${registro.quantity}"></td>
                            <td th:text="${registro.price}"></td>
                            <td th:text="${registro.comission}"></td>
                            <td th:text="${registro.fees}"></td>
                            <td th:text="${registro.netAmount}"></td>
                            <td th:text="${registro.usdeNetAmount}"></td>
                            <td th:text="${registro.principal}"></td>
                            <td th:text="${registro.cusip}"></td>
                            <td th:text="${registro.symbol}"></td>
                            <td th:text="${registro.isin}"></td>
                            <td th:text="${registro.currency}"></td>
                            <td th:text="${registro.fxRate}"></td>
                            <td th:text="${registro.interest}"></td>
                            <td th:text="${registro.currencyBase}"></td>
                            <td th:text="${registro.cashMarginAccount}"></td>
                            <td th:text="${registro.productType}"></td>
                            <td th:text="${registro.securityDescription}"></td>
                            <td th:text="${registro.activityDescription}"></td>
                            <td th:text="${registro.activityCode}"></td>
                            <td th:text="${registro.sourceCode}"></td>
                            <td th:text="${registro.reporte}"></td>
                            <td th:text="${registro.description1}"></td>
                            <td th:text="${registro.description2}"></td>
                            <td th:text="${registro.description3}"></td>
                            <td th:text="${registro.ticker}"></td>
                            <td th:text="${registro.idSubSubTipoActivo}"></td>
                            <td th:text="${registro.idSubTipoActivo}"></td>
                            <td th:text="${registro.idTipoActivo}"></td>
                            <td th:text="${registro.nombreSubSubTipoActivo}"></td>
                            <td th:text="${registro.secId}"></td>
                            <td th:text="${registro.aplicaFlujoNeto}"></td>
                        </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>ID</th>
                                <th>Eliminar</th>
                                <th>Process Date</th>
                                <th>Custodian</th>
                                <th>Client ID</th>
                                <th>Office ID</th>
                                <th>Account N°</th>
                                <th>Name</th>
                                <th>Trade Date</th>
                                <th>Settl. Date</th>
                                <th>Activity</th>
                                <th>Buy/Sell</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Comission</th>
                                <th>Fees</th>
                                <th>Net Amount</th>
                                <th>USDE Net Amount</th>
                                <th>Principal</th>
                                <th>Cusip</th>
                                <th>Symbol</th>
                                <th>ISIN</th>
                                <th>Currency</th>
                                <th>FX Rate</th>
                                <th>Interest</th>
                                <th>Currency Base</th>
                                <th>Cash/Margin Account</th>
                                <th>Product Type</th>
                                <th>Security Description</th>
                                <th>Activity Description</th>
                                <th>Activity Code</th>
                                <th>Source Code</th>
                                <th>Reporte</th>
                                <th>Description 1</th>
                                <th>Description 2</th>
                                <th>Description 3</th>
                                <th>Ticker</th>
                                <th>Id Sub Sub Tipo Activo</th>
                                <th>Id Sub Tipo Activo</th>
                                <th>Id Tipo Activo</th>
                                <th>Nombre Sub Sub Tipo Activo</th>
                                <th>SecId</th>
                                <th>Aplica Flujo Neto</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->



        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer th:replace="layout/layout :: 'footerCustom'"></footer>

    <aside th:replace="layout/layout :: lateral_control"></aside>
</div>
<!-- ./wrapper -->


<!-- DataTables  & Plugins -->
<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/dataTables.buttons.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/jszip/jszip.min.js}"></script>
<script th:src="@{/plugins/pdfmake/pdfmake.js}"></script>
<script th:src="@{/plugins/pdfmake/vfs_fonts.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.html5.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.print.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.colVis.min.js}"></script>

<!-- InputMask -->
<script th:src="@{/plugins/moment/moment.min.js}"></script>
<!-- date-range-picker -->
<script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script th:src="@{/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js}"></script>

<script>
    $(function () {
        $("#tabla_cuentas").DataTable({
            dom: 'Bfrtip',"responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "print", "colvis"]
        }).buttons().container().appendTo('#tabla_cuentas_wrapper .col-md-6:eq(0)');
    });

    $(function () {
        $("#tabla_saldos").DataTable({
            dom: 'Bfrtip',"responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "print", "colvis"]
        }).buttons().container().appendTo('#tabla_saldos_wrapper .col-md-6:eq(0)');
    });

    $(function () {
        $("#tabla_movimientos").DataTable({
            dom: 'Bfrtip',"responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "print", "colvis"]
        }).buttons().container().appendTo('#tabla_movimientos_wrapper .col-md-6:eq(0)');
    });

    $(function () {

        $('#processDate').daterangepicker(
            {
                "singleDatePicker": true,
                "showDropdowns": true,
                "autoApply": true,
                "alwaysShowCalendars" : true,
                "showCustomRangeLabel" : false,
                ranges: {
                    'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Atrás 3 días': [moment().subtract(3, 'days'), moment().subtract(3, 'days')],
                    'Atrás 7 días': [moment().subtract(7, 'days'), moment().subtract(7, 'days')],
                    'Atrás 10 días': [moment().subtract(10, 'days'), moment().subtract(10, 'days')],
                    'Cierre Anterior': [moment().subtract(1, 'month').endOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                "locale": {
                    "format": "YYYY-MM-DD",
                    "separator": " - ",
                    "applyLabel": "Aceptar",
                    "cancelLabel": "Cancelar",
                    "fromLabel": "From",
                    "toLabel": "To",
                    "customRangeLabel": "Custom",
                    "weekLabel": "W",
                    "daysOfWeek": [
                        "Do",
                        "Lu",
                        "Ma",
                        "Mi",
                        "Ju",
                        "Vi",
                        "Sa"
                    ],
                    "monthNames": [
                        "Enero",
                        "Febrero",
                        "Marzo",
                        "Abril",
                        "Mayo",
                        "Junio",
                        "Julio",
                        "Agosto",
                        "Septiembre",
                        "Octubre",
                        "Noviembre",
                        "Diciembre"
                    ],
                    "firstDay": 1
                }
            }
        )

    });

</script>


<script>
    function buscar() {
        var corteUrl = 'fecha';
        var oldUrl = location.href;
        var processDate = $('#processDate').val().replaceAll('-','');
        var newUrl = oldUrl.substring(0, oldUrl.indexOf(corteUrl)) + corteUrl + '/' + processDate;
        location.href = newUrl;
    }

    function confirmarReversar() {
        return confirm('¿Está seguro de reversar el registro aprobado?');
    }
</script>

<div th:replace="layout/layout :: customCalendarHtml"></div>

<div th:replace="layout/layout :: scripting_cierre"></div>
</body>
</html>
