<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="es">
<head th:replace="layout/layout :: head"></head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <header th:replace="layout/layout :: header"></header>

    <aside th:replace="layout/layout :: lateral"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Maestro Clientes</h1>
                    </div>
                    <div  th:replace="layout/layout :: 'breadcrumbApp'"></div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header" onclick="$(this).parent().CardWidget('toggle')">
                    <h3 class="card-title" th:text="${titulo}"></h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body login-card-body">
                    <div class="form-group row">
                        <label for="processDate" class="col-md-1 col-form-label">Process Date</label>
                        <div class="col-md-2">
                            <input class="form-control" type="text" placeholder="yyyy-MM-dd" id="processDate" name="processDate" th:value="${processDate}">
                        </div>
                    </div>

                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <a class="btn btn-app" th:onclick="buscar()"><i class="fas fa-search"></i>Buscar</a>
                </div>
                <!-- /.card-footer-->
            </div>
            <!-- /.card -->
            <div class="card">
                <div class="card-header" onclick="$(this).parent().CardWidget('toggle')">
                    <h3 class="card-title">Listado</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body login-card-body">
                    <table id="tabla_valores" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Process Date</th>
                            <th>Custodian</th>
                            <th>Client ID</th>
                            <th>Firm No</th>
                            <th>Sub No</th>
                            <th>Rep No</th>
                            <th>Office Id</th>
                            <th>Account N°</th>
                            <th>Name</th>
                            <th>Full Name</th>
                            <th>Address</th>
                            <th>Short Name</th>
                            <th>Date of Birth</th>
                            <th>Status</th>
                            <th>Email</th>
                            <th>Country Stonex</th>
                            <th>Country</th>
                            <th>W8 Date</th>
                            <th>W9 Date</th>
                            <th>W8 Status</th>
                            <th>W9 Status</th>
                            <th>Discr. Trading Code</th>
                            <th>Account Type</th>
                            <th>Contrato</th>
                            <th>Cash/Margin</th>
                            <th>Modelo Relacionamiento</th>
                            <th>Debit Card Ind.</th>
                            <th>Open date</th>
                            <th>Close Date</th>
                            <th>Participant Type</th>
                            <th>Profile</th>
                            <th>Portfolio</th>
                            <th>Tipo Servicio</th>
                            <th>Adv. Fee</th>
                            <th>Last Stmnt.</th>
                            <th>Main Advisor</th>
                            <th>Secondary Advisor</th>
                            <th>Email Main Advisor</th>
                            <th>Email Secondary Advisor</th>
                            <th>Tax ID</th>
                            <th>Last Act. Month</th>
                            <th>Institution Code</th>
                            <th>Restriction Date</th>
                            <th>Fondeo</th>
                            <th>Monto Comprometido</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="salidaReporte: ${salidaReporte}">
                            <td th:text="${salidaReporte.processDate}"></td>
                            <td th:text="${salidaReporte.custodian}"></td>
                            <td th:text="${salidaReporte.clientId}"></td>
                            <td th:text="${salidaReporte.firmNo}"></td>
                            <td th:text="${salidaReporte.subNo}"></td>
                            <td th:text="${salidaReporte.repNo}"></td>
                            <td th:text="${salidaReporte.officeId}"></td>
                            <td th:text="${salidaReporte.accountNo}"></td>
                            <td th:text="${salidaReporte.name}"></td>
                            <td th:text="${salidaReporte.fullName}"></td>
                            <td th:text="${salidaReporte.address}"></td>
                            <td th:text="${salidaReporte.shortName}"></td>
                            <td th:text="${salidaReporte.dateOfBirth}"></td>
                            <td th:text="${salidaReporte.acctStatusValue}"></td>
                            <td th:text="${salidaReporte.email}"></td>
                            <td th:text="${salidaReporte.countryCodeValue}"></td>
                            <td th:text="${salidaReporte.country}"></td>
                            <td th:text="${salidaReporte.w8Date}"></td>
                            <td th:text="${salidaReporte.w9Date}"></td>
                            <td th:text="${salidaReporte.w8StatusValue}"></td>
                            <td th:text="${salidaReporte.w9StatusValue}"></td>
                            <td th:text="${salidaReporte.discrTradingCodeValue}"></td>
                            <td th:text="${salidaReporte.accountType}"></td>
                            <td th:text="${salidaReporte.contratosPa}"></td>
                            <td th:text="${salidaReporte.cashMarginAccount}"></td>
                            <td th:text="${salidaReporte.modeloRelacionamiento}"></td>
                            <td th:text="${salidaReporte.debitCardIndicator}"></td>
                            <td th:text="${salidaReporte.openDate}"></td>
                            <td th:text="${salidaReporte.closeDate}"></td>
                            <td th:text="${salidaReporte.participantType}"></td>
                            <td th:text="${salidaReporte.clientInvestmentProfile}"></td>
                            <td th:text="${salidaReporte.portfolio}"></td>
                            <td th:text="${salidaReporte.tipoServicio}"></td>
                            <td th:text="${salidaReporte.advisoryFeeAnnualPct != null ? T(cl.qande.mmii.app.util.helper.CustomThymeleafHelper).formatRentRepMaestrosWeb(salidaReporte.advisoryFeeAnnualPct): ''}"></td>
                            <td th:text="${salidaReporte.lastStatementDate}"></td>
                            <td th:text="${salidaReporte.mainAdvisor}"></td>
                            <td th:text="${salidaReporte.secondaryAdvisor}"></td>
                            <td th:text="${salidaReporte.emailMainAdvisor}"></td>
                            <td th:text="${salidaReporte.emailSecondaryAdvisor}"></td>
                            <td th:text="${salidaReporte.taxId}"></td>
                            <td th:text="${salidaReporte.lastActivityMonth}"></td>
                            <td th:text="${salidaReporte.institutionCode}"></td>
                            <td th:text="${salidaReporte.restrictionDate}"></td>
                            <td th:text="${salidaReporte.fondeo}"></td>
                            <td th:text="${T(cl.qande.mmii.app.util.helper.CustomThymeleafHelper).formatMontoRepMaestrosWeb(salidaReporte.montoComprometido)}"></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Process Date</th>
                            <th>Custodian</th>
                            <th>Client ID</th>
                            <th>Firm No</th>
                            <th>Sub No</th>
                            <th>Rep No</th>
                            <th>Office Id</th>
                            <th>Account N°</th>
                            <th>Name</th>
                            <th>Full Name</th>
                            <th>Address</th>
                            <th>Short Name</th>
                            <th>Date of Birth</th>
                            <th>Status</th>
                            <th>Email</th>
                            <th>Country Stonex</th>
                            <th>Country</th>
                            <th>W8 Date</th>
                            <th>W9 Date</th>
                            <th>W8 Status</th>
                            <th>W9 Status</th>
                            <th>Discr. Trading Code</th>
                            <th>Account Type</th>
                            <th>Contrato</th>
                            <th>Cash/Margin</th>
                            <th>Modelo Relacionamiento</th>
                            <th>Debit Card Ind.</th>
                            <th>Open date</th>
                            <th>Close Date</th>
                            <th>Participant Type</th>
                            <th>Profile</th>
                            <th>Portfolio</th>
                            <th>Tipo Servicio</th>
                            <th>Adv. Fee</th>
                            <th>Last Stmnt.</th>
                            <th>Main Advisor</th>
                            <th>Secondary Advisor</th>
                            <th>Email Main Advisor</th>
                            <th>Email Secondary Advisor</th>
                            <th>Tax ID</th>
                            <th>Last Act. Month</th>
                            <th>Institution Code</th>
                            <th>Restriction Date</th>
                            <th>Fondeo</th>
                            <th>Monto Comprometido</th>
                        </tr>
                        </tfoot>
                    </table>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer th:replace="layout/layout :: 'footerCustom'"></footer>

    <aside th:replace="layout/layout :: lateral_control"></aside>
</div>
<!-- ./wrapper -->


<!-- DataTables  & Plugins -->
<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/dataTables.buttons.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/jszip/jszip.min.js}"></script>
<script th:src="@{/plugins/pdfmake/pdfmake.js}"></script>
<script th:src="@{/plugins/pdfmake/vfs_fonts.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.html5.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.print.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.colVis.min.js}"></script>

<!-- InputMask -->
<script th:src="@{/plugins/moment/moment.min.js}"></script>
<!-- date-range-picker -->
<script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script th:src="@{/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js}"></script>

<script>
    $(function () {

        $('#processDate').daterangepicker(
            {
                "singleDatePicker": true,
                "showDropdowns": true,
                "autoApply": true,
                "alwaysShowCalendars" : true,
                "showCustomRangeLabel" : false,
                ranges: {
                    'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Atrás 3 días': [moment().subtract(3, 'days'), moment().subtract(3, 'days')],
                    'Atrás 7 días': [moment().subtract(7, 'days'), moment().subtract(7, 'days')],
                    'Atrás 10 días': [moment().subtract(10, 'days'), moment().subtract(10, 'days')],
                    'Cierre Anterior': [moment().subtract(1, 'month').endOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                "locale": {
                    "format": "YYYY-MM-DD",
                    "separator": " - ",
                    "applyLabel": "Aceptar",
                    "cancelLabel": "Cancelar",
                    "fromLabel": "From",
                    "toLabel": "To",
                    "customRangeLabel": "Custom",
                    "weekLabel": "W",
                    "daysOfWeek": [
                        "Do",
                        "Lu",
                        "Ma",
                        "Mi",
                        "Ju",
                        "Vi",
                        "Sa"
                    ],
                    "monthNames": [
                        "Enero",
                        "Febrero",
                        "Marzo",
                        "Abril",
                        "Mayo",
                        "Junio",
                        "Julio",
                        "Agosto",
                        "Septiembre",
                        "Octubre",
                        "Noviembre",
                        "Diciembre"
                    ],
                    "firstDay": 1
                }
            }
        )

    })

</script>

<script sec:authorize="! hasRole('ROLE_READER')">
    $(function () {
        $("#tabla_valores").DataTable({
            dom: 'Bfrtip',"responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "print", "colvis"]
        }).buttons().container().appendTo('#tabla_valores_wrapper .col-md-6:eq(0)');
    });
</script>

<script sec:authorize="hasRole('ROLE_READER')">
    $(function () {
        $("#tabla_valores").DataTable({
            dom: 'Bfrtip',"responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["colvis"]
        }).buttons().container().appendTo('#tabla_valores_wrapper .col-md-6:eq(0)');
    });
</script>

<script>
    function buscar() {
        var corteUrl = 'fecha';
        var oldUrl = location.href;
        var processDate = $('#processDate').val().replaceAll('-','');
        var newUrl = oldUrl.substring(0, oldUrl.indexOf(corteUrl)) + corteUrl + '/' + processDate;
        location.href = newUrl;
    }
</script>

<div th:replace="layout/layout :: customCalendarHtml"></div>

<div th:replace="layout/layout :: scripting_cierre"></div>
</body>
</html>
