<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <header th:replace="layout/layout :: header"></header>

    <aside th:replace="layout/layout :: lateral"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Maestro Saldos</h1>
                    </div>
                    <div  th:replace="layout/layout :: 'breadcrumbApp'"></div>
                </div>
            </div><!-- /.container-fluid -->
        </section>
        <!--/*@thymesVar id="salidaReporte" type="java.util.List<cl.qande.mmii.app.models.db.core.entity.VwReporteMaestroDatosSaldo>"*/-->

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-header" onclick="$(this).parent().CardWidget('toggle')">
                    <h3 class="card-title" th:text="${titulo}"></h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body login-card-body">
                    <div class="form-group row">
                        <label for="rango_fechas" class="col-md-1 col-form-label">Process Dates</label>
                        <div class="col-md-2">
                            <input class="form-control" type="text" placeholder="yyyy-MM-dd -> yyyy-MM-dd" id="rango_fechas" name="rango_fechas" th:value="${startProcessDate+ ' -> '+endProcessDate}">
                        </div>
                    </div>

                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <a class="btn btn-app" th:onclick="buscar()"><i class="fas fa-search"></i>Buscar</a>
                </div>
                <!-- /.card-footer-->
            </div>
            <!-- /.card -->
            <div class="card">
                <div class="card-header" onclick="$(this).parent().CardWidget('toggle')">
                    <h3 class="card-title">Listado</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body login-card-body">
                    <table id="tabla_valores" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <td>Custodian</td>
                            <td>Office ID</td>
                            <td>Client ID</td>
                            <td>Account N°</td>
                            <td>Name</td>
                            <td>Process Date</td>
                            <td>Cusip</td>
                            <td>Sec. Descr.</td>
                            <td>Quantity</td>
                            <td>Mkt. Price</td>
                            <td>Currency</td>
                            <td>Mkt. Value</td>
                            <td>FX Rate</td>
                            <td>USDE Mkt. Value</td>
                            <td>USDE Mkt. Price</td>
                            <td>Nombre Sub Sub Tipo Activo</td>
                            <td>FEE Anual</td>
                            <td>FEE Protección</td>
                            <td>FEE Protección Diario</td>
                            <td>Ingreso Protección</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="lineaSalidaReporte: ${salidaReporte}">
                            <td th:text="${lineaSalidaReporte.custodian}"></td>
                            <td th:text="${lineaSalidaReporte.officeId}"></td>
                            <td th:text="${lineaSalidaReporte.clientId}"></td>
                            <td th:text="${lineaSalidaReporte.accountNo}"></td>
                            <td th:text="${lineaSalidaReporte.name}"></td>
                            <td th:text="${lineaSalidaReporte.processDate}"></td>
                            <td th:text="${lineaSalidaReporte.cusip}"></td>
                            <td th:text="${lineaSalidaReporte.securityDescription}"></td>
                            <td th:text="${T(cl.qande.mmii.app.util.helper.CustomThymeleafHelper).formatMontoRepMaestrosWeb(lineaSalidaReporte.quantity)}"></td>
                            <td th:text="${T(cl.qande.mmii.app.util.helper.CustomThymeleafHelper).formatMontoRepMaestrosWeb(lineaSalidaReporte.marketPrice)}"></td>
                            <td th:text="${lineaSalidaReporte.currency}"></td>
                            <td th:text="${T(cl.qande.mmii.app.util.helper.CustomThymeleafHelper).formatMontoRepMaestrosWeb(lineaSalidaReporte.marketValue)}"></td>
                            <td th:text="${T(cl.qande.mmii.app.util.helper.CustomThymeleafHelper).formatMontoRepMaestrosWeb(lineaSalidaReporte.fxRate)}"></td>
                            <td th:text="${T(cl.qande.mmii.app.util.helper.CustomThymeleafHelper).formatMontoRepMaestrosWeb(lineaSalidaReporte.usdeMarketValue)}"></td>
                            <td th:text="${T(cl.qande.mmii.app.util.helper.CustomThymeleafHelper).formatMontoRepMaestrosWeb(lineaSalidaReporte.usdeMarketPrice)}"></td>
                            <td th:text="${lineaSalidaReporte.nombreSubSubTipoActivo}"></td>
                            <td th:text="${T(cl.qande.mmii.app.util.helper.CustomThymeleafHelper).formatMontoRepMaestrosWeb(lineaSalidaReporte.annualFee)}"></td>
                            <td th:text="${T(cl.qande.mmii.app.util.helper.CustomThymeleafHelper).formatMontoRepMaestrosWeb(lineaSalidaReporte.tasaProteccion)}"></td>
                            <td th:text="${T(cl.qande.mmii.app.util.helper.CustomThymeleafHelper).formatMontoRepMaestrosWeb(lineaSalidaReporte.feeDiarioProteccion)}"></td>
                            <td th:text="${T(cl.qande.mmii.app.util.helper.CustomThymeleafHelper).formatMontoRepMaestrosWeb(lineaSalidaReporte.ingresoProteccion)}"></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td>Custodian</td>
                            <td>Office ID</td>
                            <td>Client ID</td>
                            <td>Account N°</td>
                            <td>Name</td>
                            <td>Process Date</td>
                            <td>Cusip</td>
                            <td>Sec. Descr.</td>
                            <td>Quantity</td>
                            <td>Mkt. Price</td>
                            <td>Currency</td>
                            <td>Mkt. Value</td>
                            <td>FX Rate</td>
                            <td>USDE Mkt. Value</td>
                            <td>USDE Mkt. Price</td>
                            <td>Nombre Sub Sub Tipo Activo</td>
                            <td>FEE Anual</td>
                            <td>FEE Protección</td>
                            <td>FEE Protección Diario</td>
                            <td>Ingreso Protección</td>
                        </tr>
                        </tfoot>
                    </table>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer th:replace="layout/layout :: 'footerCustom'"></footer>

    <aside th:replace="layout/layout :: lateral_control"></aside>
</div>
<!-- ./wrapper -->


<!-- DataTables  & Plugins -->
<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/dataTables.buttons.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/jszip/jszip.min.js}"></script>
<script th:src="@{/plugins/pdfmake/pdfmake.js}"></script>
<script th:src="@{/plugins/pdfmake/vfs_fonts.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.html5.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.print.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.colVis.min.js}"></script>

<!-- InputMask -->
<script th:src="@{/plugins/moment/moment.min.js}"></script>
<!-- date-range-picker -->
<script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script th:src="@{/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js}"></script>

<script>
    $(function () {

        //Date range picker
        $('#rango_fechas').daterangepicker(
            {
                "alwaysShowCalendars" : true,
                "showCustomRangeLabel" : false,
                ranges: {
                    'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Últ. 3 días': [moment().subtract(3, 'days'), moment().subtract(1, 'days')],
                    'Últ. 3 días': [moment().subtract(3, 'days'), moment().subtract(1, 'days')],
                    'Últ. 7 días': [moment().subtract(7, 'days'), moment().subtract(1, 'days')],
                    'Últ. 10 días': [moment().subtract(10, 'days'), moment().subtract(1, 'days')],
                    'Mes Actual': [moment().startOf('month'), moment().subtract(1, 'days')],
                    'Mes Anterior': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                "locale": {
                    "format": "YYYY-MM-DD",
                    "separator": " -> ",
                    "applyLabel": "Aceptar",
                    "cancelLabel": "Cancelar",
                    "fromLabel": "From",
                    "toLabel": "To",
                    "customRangeLabel": "Custom",
                    "weekLabel": "W",
                    "daysOfWeek": [
                        "Do",
                        "Lu",
                        "Ma",
                        "Mi",
                        "Ju",
                        "Vi",
                        "Sa"
                    ],
                    "monthNames": [
                        "Enero",
                        "Febrero",
                        "Marzo",
                        "Abril",
                        "Mayo",
                        "Junio",
                        "Julio",
                        "Agosto",
                        "Septiembre",
                        "Octubre",
                        "Noviembre",
                        "Diciembre"
                    ],
                    "firstDay": 1
                }
            }
        )

    })

</script>

<script>
    $(function () {
        $("#tabla_valores").DataTable({
            dom: 'Bfrtip',"responsive": true, "lengthChange": false, "autoWidth": false,
            "buttons": ["copy", "csv", "excel", "print", "colvis"]
        }).buttons().container().appendTo('#tabla_valores_wrapper .col-md-6:eq(0)');
    });
</script>

<script>
    function buscar() {
        var formatoHtml = 'YYYYMMDD';
        var dataCal     = $('#rango_fechas').data('daterangepicker');

        var corteUrl = 'saldos';
        var oldUrl = location.href;
        var startProcessDate    = dataCal.startDate.format(formatoHtml);
        var endProcessDate    = dataCal.endDate.format(formatoHtml);

        var newUrl = oldUrl.substring(0, oldUrl.indexOf(corteUrl)) + corteUrl + '/fecha_desde/' + startProcessDate + '/fecha_hasta/' + endProcessDate;
        location.href = newUrl;
    }
</script>

<div th:replace="layout/layout :: customCalendarHtml"></div>

<div th:replace="layout/layout :: scripting_cierre"></div>
</body>
</html>
