<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <header th:replace="layout/layout :: header"></header>

    <aside th:replace="layout/layout :: lateral"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 th:text="${titulo}"></h1>
                    </div>
                    <div  th:replace="layout/layout :: 'breadcrumbApp'"></div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div id="main-card" class="card collapsed-card">
                <div class="card-header" onclick="$(this).parent().CardWidget('toggle')">
                    <h3 class="card-title">Seleccione fecha</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body login-card-body">
                    <div class="form-group row">
                        <label for="processDate" class="col-md-1 col-form-label">Process Date</label>
                        <div class="col-md-2">
                            <input class="form-control" type="text" placeholder="yyyy-MM-dd" id="processDate" name="processDate" th:value="${processDate}">
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <a class="btn btn-app" th:onclick="buscar()"><i class="fas fa-search"></i>Buscar</a>
                </div>
                <!-- /.card-footer-->
            </div>
            <!-- /.card -->
            <div id="detail-card" class="card">
                <div class="card-header" onclick="$(this).parent().CardWidget('toggle')">
                    <h3 class="card-title" th:if="${#lists.isEmpty(lista_registros)}">No existen registros</h3>
                    <h3 class="card-title" th:if="${not #lists.isEmpty(lista_registros)}">Listado registros existentes</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body login-card-body">
                    <table id="tabla_valores" class="table table-bordered table-striped table-hover">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Correl.</th>
                            <th>Process Date</th>
                            <th>ID Segm.</th>
                            <th>Cod. Pais</th>
                            <th>Modelo Asesoría</th>
                            <th>Pais</th>
                            <th>TS Control</th>
                            <th>TS Registro</th>
                            <th>Id Control</th>
                            <th>Glosa Control</th>
                            <th>Descripción Control</th>
                            <th>Identificador</th>
                            <th>Cant. Registros</th>
                            <th>Username</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="registro_actual: ${lista_registros}">
                            <td th:text="${registro_actual.idReporte}"></td>
                            <td th:text="${registro_actual.correlativoDiario}"></td>
                            <td th:text="${registro_actual.processDate}"></td>
                            <td th:text="${registro_actual.idSegmentacion}"></td>
                            <td th:text="${registro_actual.codPaisAtencion}"></td>
                            <td th:text="${registro_actual.modeloAsesoria}"></td>
                            <td th:text="${registro_actual.variante}"></td>
                            <td th:text="${registro_actual.timestampControl}"></td>
                            <td th:text="${registro_actual.timestampRegistro}"></td>
                            <td th:text="${registro_actual.idControl}"></td>
                            <td th:text="${registro_actual.glosaControl}"></td>
                            <td th:text="${registro_actual.descripcionControl}"></td>
                            <td th:text="${registro_actual.identificador}"></td>
                            <td th:text="${registro_actual.cantReg}"></td>
                            <td th:text="${registro_actual.username}"></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>ID</th>
                            <th>Correl.</th>
                            <th>Process Date</th>
                            <th>ID Segm.</th>
                            <th>Cod. Pais</th>
                            <th>Modelo Asesoría</th>
                            <th>Pais</th>
                            <th>TS Control</th>
                            <th>TS Registro</th>
                            <th>Id Control</th>
                            <th>Glosa Control</th>
                            <th>Descripción Control</th>
                            <th>Identificador</th>
                            <th>Cant. Registros</th>
                            <th>Username</th>
                        </tr>
                        </tfoot>
                    </table>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer th:replace="layout/layout :: 'footerCustom'"></footer>

    <aside th:replace="layout/layout :: lateral_control"></aside>
</div>
<!-- ./wrapper -->


<!-- DataTables  & Plugins -->
<script th:src="@{/plugins/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/datatables-responsive/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/plugins/datatables-responsive/js/responsive.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/dataTables.buttons.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/jszip/jszip.min.js}"></script>
<script th:src="@{/plugins/pdfmake/pdfmake.js}"></script>
<script th:src="@{/plugins/pdfmake/vfs_fonts.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.html5.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.print.min.js}"></script>
<script th:src="@{/plugins/datatables-buttons/js/buttons.colVis.min.js}"></script>

<!-- InputMask -->
<script th:src="@{/plugins/moment/moment.min.js}"></script>
<!-- date-range-picker -->
<script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script th:src="@{/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js}"></script>

<script>
    $(function () {

        $('#processDate').daterangepicker(
            {
                "singleDatePicker": true,
                "showDropdowns": true,
                "autoApply": true,
                "alwaysShowCalendars" : true,
                "showCustomRangeLabel" : false,
                ranges: {
                    'Ayer': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Atrás 3 días': [moment().subtract(3, 'days'), moment().subtract(3, 'days')],
                    'Atrás 7 días': [moment().subtract(7, 'days'), moment().subtract(7, 'days')],
                    'Atrás 10 días': [moment().subtract(10, 'days'), moment().subtract(10, 'days')],
                    'Cierre Anterior': [moment().subtract(1, 'month').endOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                "locale": {
                    "format": "YYYY-MM-DD",
                    "separator": " - ",
                    "applyLabel": "Aceptar",
                    "cancelLabel": "Cancelar",
                    "fromLabel": "From",
                    "toLabel": "To",
                    "customRangeLabel": "Custom",
                    "weekLabel": "W",
                    "daysOfWeek": [
                        "Do",
                        "Lu",
                        "Ma",
                        "Mi",
                        "Ju",
                        "Vi",
                        "Sa"
                    ],
                    "monthNames": [
                        "Enero",
                        "Febrero",
                        "Marzo",
                        "Abril",
                        "Mayo",
                        "Junio",
                        "Julio",
                        "Agosto",
                        "Septiembre",
                        "Octubre",
                        "Noviembre",
                        "Diciembre"
                    ],
                    "firstDay": 1
                }
            }
        )

    })

</script>

<script>

    $(function () {
        $("#tabla_valores").DataTable({
            dom: 'Bfrtip',"responsive": true, "lengthChange": true, "autoWidth": false, "pageLength": 100,
            "buttons": ["copy", "csv", "excel", "print", "colvis"],
            "columns": [
                { "visible": false },
                { "visible": false },
                null,
                { "visible": false },
                { "visible": false },
                { "visible": false },
                null,
                { "visible": false },
                { "visible": false },
                null,
                null,
                null,
                null,
                null,
                { "visible": false }
            ]
        }).buttons().container().appendTo('#tabla_valores_wrapper .col-md-6:eq(0)');
    });

    function buscar() {
        var corteUrl = 'control_diario';
        var oldUrl = location.href;
        var processDate = $('#processDate').val().replaceAll('-','');
        var newUrl = oldUrl.substring(0, oldUrl.indexOf(corteUrl)) + corteUrl + '/' + processDate;
        location.href = newUrl;
    }

    $('#main-card').CardWidget('collapse');

</script>

<div th:replace="layout/layout :: customCalendarHtml"></div>

<div th:replace="layout/layout :: scripting_cierre"></div>
</body>
</html>
