<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body class="hold-transition sidebar-mini">
<!-- Site wrapper -->
<div class="wrapper">
    <header th:replace="layout/layout :: header"></header>

    <aside th:replace="layout/layout :: lateral"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 th:text="${titulo}"></h1>
                    </div>
                    <div  th:replace="layout/layout :: 'breadcrumbApp'"></div>
                </div>
            </div><!-- /.container-fluid -->
        </section>

        <!-- Main content -->
        <section class="content">
            <!--/*@thymesVar id="lista_registros" type="java.util.List<cl.qande.mmii.app.models.db.core.entity.ControlDiario>"*/-->
            <!--/*@thymesVar id="last_errors" type="java.util.List<java.lang.String>"*/-->

            <!-- Default box -->
            <div id="main-card" class="card collapsed-card">
                <div class="card-header" onclick="$(this).parent().CardWidget('toggle')">
                    <h3 class="card-title">Seleccione fecha</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body login-card-body">
                    <div class="form-group row">
                        <label for="processDate" class="col-md-1 col-form-label">Process Date</label>
                        <div class="col-md-2">
                            <input class="form-control" type="text" placeholder="yyyy-MM-dd" id="processDate" name="processDate" th:value="${processDate}">
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <a class="btn btn-app" th:onclick="buscar()"><i class="fas fa-search"></i>Buscar</a>
                </div>
                <!-- /.card-footer-->
            </div>
            <!-- /.card -->
            <div id="detail-card" class="card">
                <div class="card-header" onclick="$(this).parent().CardWidget('toggle')">
                    <h3 class="card-title" th:if="${#lists.isEmpty(lista_registros)}">No existen registros</h3>
                    <h3 class="card-title" th:if="${not #lists.isEmpty(lista_registros)}">Listado registros existentes</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body login-card-body">
                    <div id="grid-wrapper-resultado" th:if="${!#lists.isEmpty(lista_registros)}"></div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <div id="errors-card" class="card">
                <div class="card-header" onclick="$(this).parent().CardWidget('toggle')">
                    <h3 class="card-title">Últimos 10 errores</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body login-card-body">
                    <div th:if="${#lists.isEmpty(last_errors)}">No existen errores en los últimos 10 días</div>
                    <ul th:if="${!#lists.isEmpty(last_errors)}">
                        <li th:each="error : ${last_errors}" th:text="${#strings.substring(error, 0, 4)} + '-' + ${#strings.substring(error, 4, 6)} + '-' + ${#strings.substring(error, 6, 8)}"></li>
                    </ul>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer th:replace="layout/layout :: 'footerCustom'"></footer>

    <aside th:replace="layout/layout :: lateral_control"></aside>
</div>
<!-- ./wrapper -->



<!-- InputMask -->
<script th:src="@{/plugins/moment/moment.min.js}"></script>
<!-- date-range-picker -->
<script th:src="@{/plugins/daterangepicker/daterangepicker.js}"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script th:src="@{/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js}"></script>


<script>
    createCustomSingleCalendarHtml("processDate", {});

    function buscar() {
        var corteUrl = 'control_diario';
        var oldUrl = location.href;
        var processDate = $('#processDate').val().replaceAll('-','');
        var newUrl = oldUrl.substring(0, oldUrl.indexOf(corteUrl)) + corteUrl + '/' + processDate;
        location.href = newUrl;
    }

    $('#main-card').CardWidget('collapse');

</script>

<script th:inline="javascript">

    $(document).ready(function() {
        /*<![CDATA[*/
        var resultadoDataSource =  [
            /*[# th:each="objeto : ${lista_registros}"]*/
            {
                id: [[${objeto.getId}]],
                correlativoDiario: [[${objeto.getCorrelativoDiario}]],
                processDate: [[${objeto.getProcessDate()}]],
                timestampControl: [[${objeto.getTimestampControl}]],
                timestampRegistro: [[${objeto.getTimestampRegistro}]],
                idControl: [[${objeto.getIdControl}]],
                glosaControl: [[${objeto.getGlosaControl}]],
                descripcionControl: [[${objeto.getDescripcionControl}]],
                identificador: [[${objeto.getIdentificador}]],
                cantReg: [[${objeto.getCantReg}]],
                username: [[${objeto.getUsername}]]
            },
            /*[/]*/
        ];

        /*]]>*/

        var resultadoColumn = [
            { field: 'id', headerText: 'ID', visible: false },
            { field: 'correlativoDiario', headerText: 'Correl.', visible: false },
            { field: 'processDate', headerText: 'Process Date' },
            { field: 'timestampControl', headerText: 'TS Control', visible: false },
            { field: 'timestampRegistro', headerText: 'TS Registro', visible: false },
            { field: 'idControl', headerText: 'ID Control' },
            { field: 'glosaControl', headerText: 'Glosa' },
            { field: 'descripcionControl', headerText: 'Descripcion' },
            { field: 'identificador', headerText: 'Identificador' },
            { field: 'cantReg', headerText: 'Cant. Reg.' },
            { field: 'username', headerText: 'User', visible: false }
        ];

        var processDate = $('#processDate').val().replaceAll('-','');
        createDefaultGridWithWrapper('grid-wrapper-resultado', resultadoDataSource, resultadoColumn, 'ControlDiario_'+processDate, ';', 0);

    });
</script>



<div th:replace="layout/layout :: customCalendarHtml"></div>

<div th:replace="layout/layout :: scripting_cierre"></div>
</body>
</html>
